<h2>Derived Data Releases</h2>
<div class="report-info-block">
<a name="megatrawl"></a>
    <div id="list-WorkbenchDemo" class="" style="background: #f0f0f0; padding: 10px;">
        <div style="float:right; width:200px; height:200px; border:1px solid #ccc; margin-left: 40px;" class="megaTrawlOpener"><img src="$content.getURI('/images/megatrawl-thumb.png')" alt="thumb" /></div>
        <h3>Netmats MegaTrawl <span class="inline-link">Released Apr 15, 2015</span></h3>
        <p>We summarise here an analysis of the relationships between imaging and non-imaging measures in the HCP, using multivariate-prediction and univariate-regression to relate 187 non-imaging behavioural and demographic subject measures (SMs: age, sex, education, tobacco intake, IQ, reading ability, etc.) to 461 individuals' functional connectivity data.</p>
        <p>Resting-state fMRI (rfMRI) data from the 500-subjects 2014 HCP data release (HCP500-PTN) was processed, using data from all 461 subjects having four complete rfMRI runs. Using this cohort, partial correlation network matrices were used to predict (and regress against) 187 subject measure (SM) variables, such as IQ, age and sex.</p>
        <p><a href="/megatrawl/HCP500_MegaTrawl_April2015.pdf" title="Megatrawl release documentation (PDF)" style="font-weight:bold" target="_blank">Megatrawl Release Documentation</a></p>
        <p><button class="btn1 megaTrawlOpener" title="Open MegaTrawl Browser">Open MegaTrawl Browser</button></p>
    </div>
</div>

<script>
    $(".megaTrawlOpener").on("click",function(){
       window.open('/megatrawl/index.html','_blank'); 
       /* window.open('/app/template/MegaTrawl_launcher.vm','_blank'); */
    });
</script>

<h2>Connectome Workbench Data</h2>
<div class="report-info-block">
	<div id="list-WorkbenchDemo" class="" style="background: #f0f0f0; padding: 10px;">

		<h3>Group Average Data <span class="inline-link">Updated Jun 4, 2014</span></h3>
		<p>This dataset includes group average data from two sets of subjects: an "R440" group of 440 subjects, many of whom are related to one another (twins or non twin siblings) and a "U100" group of 100 unrelated subjects.  The anatomical substrate is based on average T1w and T2w volumes and cortical surfaces from the R440 group, plus myelin maps, cortical thickness maps, and task-fMRI results (7 tasks and many task contrasts) for both the R440 and U100 groups. </p>
		<p>The associated scene file enables interactive access to group average (R440 and U100) functional connectivity (fcMRI) data ("dense connectomes") that are stored on ConnectomeDB.  The download package includes a short tutorial for easy viewing in <a href="http://humanconnectome.org/connectome/get-connectome-workbench.html" title="Get Connectome Workbench">Connectome Workbench</a> (Beta v0.83 and later).  The tutorial also includes instructions on how to download the "group-PCA eigenmaps", which are a more compact representation than the fcMRI dense connectomes and can be used to quickly and faithfully generate local copies of the dense connectomes. </p>
		<p><a href="/app/action/ChooseDownloadResources?project=HCP_Resources&amp;resource=Workbench&amp;filePath=HCP_Q1-Q6_GroupAvg_Related440_Unrelated100_v1.zip"><button class="btn1">Download Group Average Workbench Dataset</button></a> <a href="/app/action/ChooseDownloadResources?project=HCP_Resources&amp;resource=GroupAvg&amp;filePath=HCP_S500_R468_rfMRI_groupPCA_d4500_Eigenmaps.zip"><button class="btn2">Download Group-PCA Eigenmaps</button></a></p>
	</div> <!-- dataset -->

    <div id="list-WorkbenchData" class="" style="padding: 10px; background-color: #f0f0f0; margin-top: 1em;">

        <h3>Connectome Workbench Tutorial Data <span class="inline-link">Updated Sept 10, 2014</span></h3>
        <p>This dataset to be used with the included Connectome Workbench v1.0 Tutorial includes processed group-average R440 and individual subject (100307) data released as part of the 500 Subjects Release and scene files for easy viewing in Workbench.  Data included are R440 group-average and 100307 individual structural scans (T1w, T2w), cortical surfaces, myelin maps, curvature maps, cortical thickness maps, sulc maps, and R440 group-average Task-fMRI results for 7 tasks and many task contrasts.  Also included is a set of group-average parcellated functional connectivity data generated on a group of 196 related HCP Q1-Q3 subjects (R196) that may be viewed as surface maps or as a matrix chart in WB v1.0. Data derived from structural scans are included at 32k and 164k resolutions, functional data is at 32k resolution only.  </p>
        <p><a href="/app/action/ChooseDownloadResources?project=HCP_Resources&amp;resource=Workbench&amp;filePath=HCP_WB_Tutorial_1.0.zip"><button class="btn1">Download Workbench v1.0 Tutorial Dataset</button></a></p>

    </div> <!-- dataset -->
</div>