<!-- begin xnat_subjectData_assessor.vm -->

## ADDED BY MRH 2013/04/05 - FOR NOW WE DON'T WANT USERS TO SEE EXPERIMENTS THEY DON'T HAVE ACCESS TO
#if($assessor.canRead($user) || ($data.getSession().getAttribute("user").checkRole("Administrator")))
				
	#if($assessor.canRead($user)==false)
		#set($denied=true)
	<tr class="denied-access"><!-- #f99 -->
	#elseif($assessor.getProject()==$project)
	<tr>
	#else
		#if($assessor.hasProject($project))
			#set($shared=true)
		<tr class="shared-data"><!-- #fc9 -->
			#else
		<tr>
			#end
	#end
	   ##  <td>$!assessor.getProperty("date")</td>
		   <td>
			  #set ( $assessorID = $!assessor.getProperty("ID"))
			  #set ( $assessorField = "${assessor.getXSIType()}.ID")
			  #set ( $url = "$link.setAction('DisplayItemAction').addPathInfo('search_element',$!assessor.getXSIType()).addPathInfo('search_field',$assessorField).addPathInfo('search_value',$assessorID).addPathInfo('popup',$popup)" )
			  #if($assessor.hasProject($project))
				#set ( $url= "$url/project/$project")
			  #end
			  #if($assessor.getItem().instanceOf("xnat:imageAssessorData"))
				#if($assessor.canRead($user))
				  <ul>
				  #if ($assessor.getXSIType().equalsIgnoreCase("behavioral:tasksSummaryData"))
					 <li><a href="$url">Task: $assessor.getParsedType()</a></li>
				  #else
					 <li><a href="$url">$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</a></li>
				  #end
				  </ul>
				#else
				  <ul>
				  #if ($assessor.getXSIType().equalsIgnoreCase("behavioral:tasksSummaryData"))
					<li>Task: $assessor.getParsedType()</li>
				  #else
					<li>$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</li>
				  #end
				  </ul>
				#end
				
			  #else
					   
				#if($assessor.canRead($user))
				  <a href="$url" title="$assessor.getIdentifier($!project)">$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</a>
				#else
				  <a title="$assessor.getIdentifier($!project)" class="plainText">$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</a>
				#end
				
			  #end
			</td>
			<td>$!assessor.getProjectDisplayID()</td>
			<td>#if($!assessor.getIdentifier($project,true))$!assessor.getIdentifier($project,true)#elseif($assessor.getLabel())$!assessor.getLabel()#else$!assessor.getId()#end</td>
		  </tr>

#end
<!-- end xnat_subjectData_assessor.vm -->
