#if($popup)

#else
#if ($turbineUtils.GetPassedParameter("popup",$data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup",$data) )
#else
	#set ($popup = "")
#end
#end

#if($project)
  #set($projectString="/project/$project")
#end

<div id="topbar-container">
	<div id="topbar">
    	<div id="leftgroup">
            <div id="site-logo" class="topbar-item"><img src="$content.getURI('images/ConnectomeDB-logo-v2.png')" width="250" height="45" /></div>
        </div>
        <div id="rightgroup">
        </div>
        
    </div>
</div>