<!-- main_nav interactions -->
<script type="text/javascript">
##    var datasets = [#foreach( $dataset in $datasets )"$dataset", #end];
##    var projectID = "$!projectID";
    var getAllProjectsSuccess=function(o){
    };

    var getAllProjectsFailure=function(o){
    };

    var getAllProjectsCallback = {
        success:getAllProjectsSuccess,
        failure:getAllProjectsFailure,
        cache:false, // Turn off caching for IE
        scope:this
    };

    jq(document).ready(function() {
        YAHOO.util.Connect.asyncRequest('GET',serverRoot + "/REST/projects?XNAT_CSRF="+csrfToken,getAllProjectsCallback,null,this);
    });

	this.changeProjectFunction=function(){
		$("#changeProj").attr("action", "/data/projects/" + $("#projectSelector").val());
		if($("select#project").val()!="$dataset") {
			var proj_opts = {
				width:     450,  // box width when used with 'fixed' size, horizontal margin when used with 'custom' size
				height:    280,  // box height when used with 'fixed' size, vertical margin when used with 'custom' size
				title: "Change Project Warning",
				content: "<div style='float:left;padding: 20px 10px 20px 0; width: 64px'><span class='icon icon-qm'></span></div><div style='float:left; width:308px;'><h3>Dataset Change</h3><p>You are about to navigate to the  "+$('select#projectSelector').val()+" dataset. Are you sure you want to leave this page?</p></div>",
				ok: 'show',
				okLabel: 'Yes',
				okAction: function(){
					document.getElementById("changeProj").submit();
				},
				cancel: 'show',
				cancelLabel: 'Cancel',
				cancelAction: function(){
					$("select#projectSelector").val("$data.getSession().getAttribute('project')");
				},
				closeBtn: 'hide'
			};

			if (typeof(alertProjectChange) == "undefined") { 
				document.getElementById("changeProj").submit();
			} else { 
				xModalOpenNew(proj_opts); 
			} 

		}
		else{
			document.getElementById("changeProj").submit();
		}
	}
</script>

<div id="hanging-nav">
	<div id="change-proj" class="change-proj hanging-nav-item">
		<form id="changeProj" name="changeProj" method="get">
			<label for="project">Current Project: </label>
			<select id="projectSelector" class="input input-xs" name="project" onchange="changeProjectFunction();">
				<option #if("$projectID" != "") disabled#else selected#end>Select Project</option>
                #foreach($dataset in $datasets)
##                    #set($p = $om.getProject($dataset,false))
                    #set($projDisp = $data.getSession().getAttribute('projDisplayNames').get($dataset))
                    <option value=$dataset #if($projectID==$dataset) selected #end>$projDisp</option>
                #end
			</select>
		</form>
	</div>
</div> <!-- end project selector nav -->