#if($popup)

#else
    #if ($turbineUtils.GetPassedParameter("popup",$data))
        #set ($popup = $turbineUtils.GetPassedParameter("popup",$data) )
    #else
        #set ($popup = "")
    #end
#end

#if($project)
  #set($projectString="/project/$project")
#end

#set($datasets = $data.getSession().getAttribute("dashboardProjects"))

#set($projectID = "")
#if(!(${datasets.contains("$project")}))
    #set($projectID = $data.getSession().getAttribute("project"))
#else
    #set($oldProject = $data.getSession().getAttribute("project"))

    #if("${project.class.simpleName}"=="XnatProjectdata")
        #if($oldProject != $project.getId())
            $data.getSession().setAttribute("project","${project.getId()}")
        #end
    #elseif("${project.class.simpleName}"=="String")
        #if($oldProject != $project)
            $data.getSession().setAttribute("project","${project}")
        #end
    #elseif("${om.getProject()}"=="String")
        #if($oldProject != $om.getProject())
            $data.getSession().setAttribute("project","${om.getProject()}")
        #end
    #end
#end
#set($projectID = $!data.getSession().getAttribute("project"))

<script type="text/javascript" src="$content.getURI('scripts/jquery/jquery.cookie.js')"></script>

<div id="topbar-container">
	<div id="topbar">
    	<div id="leftgroup">
            <div id="site-logo" class="topbar-item"><a  href="$link.setPage("Index.vm")"><img src="$content.getURI('images/ConnectomeDB-logo-v2.png')" width="250" height="45" /></a></div>
##                <a href="$link.setPage("SubjectDashboard.vm")" title="View Subject Dashboard">Dashboard</a>
		    <div class="text-nav" id="topnav-splash">
                <a href="$link.setPage("Index.vm")" title="View All Datasets">All Datasets</a>
            </div>
        </div>
        <div id="rightgroup">
            <div id="search">
				$navigation.setTemplate("XNATQuickSearch.vm")
            </div>
    		<div id="topbar-help"><a href="#"><img src="$content.getURI('images/icon-help.png')" /></a></div>
        </div>

    </div>
</div>

<div id="message-container"></div>

#set($defaultProjectExists = $data.getSession().getAttribute("defaultProject"))
#set($dashProjects = $data.getSession().getAttribute("dashboardProjects"))
#set($tiersMapExists = $data.getSession().getAttribute("userTiers"))
#set($subjectKeyUmbrellas = $data.getSession().getAttribute("subjectKeyUmbrellas"))
#set($msg = "")

#if(!$defaultProjectExists)
    #set($msg = $msg + "<b>No default project has been set.</b><br>")
#end
#if($dashProjects.size() < 2)
    #set($msg = $msg + "<b>There's only one project in the dashboard list.</b><br>")
#end
#if(!$tiersMapExists)
    #set($msg = $msg + "<b>No user tiers configuration found.</b><br>")
#end
#if(!$subjectKeyUmbrellas)
    #set($msg = $msg + "<b>No subject key umbrella project list was found.</b><br>")
#end

#if($msg != "")
<script>
    var message = "$msg" + " A site admin must take action in order for the website to function properly.";
    $("#message-container").append("<div class='warning'><span class='icon icon-sm icon-close'></span> "+message+"</div>");
    $(document).ready(function() {
        $("#message-container div").on("click",function(){ $(this).slideUp(200) });
    });
</script>
#end
