@charset "utf-8";
/* CSS Document */

/* --- global --- */
body { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}
#layout_content {
	font-size: 12px;
	position: relative;
	z-index:0;
}
/* --- dashboard elements --- */
#dashboard {
/*	overflow: auto;
	position: relative;
	z-index: 0; */
}
.dashboardPanel {
	background:#f1f1f2;
	border:1px solid #bbbdbf;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	display:block;
	float:left;
	font-size:10px;
	line-height:1.5em;
	margin:0 16px 16px 0;
	overflow:hidden;
	padding:0;
	position:relative;
}
.oneCol { width:184px; }
.twoCol { width:386px; }
.fullCol { min-width:716px; }

.panelGroup {
	float:left;
	height: 250px;
	margin:40px 10px 0 0;
	overflow-x: hidden;
	overflow-y: auto; 
	padding:4px 10px 0;
	position:relative;
	width:100px;
}
.panelGroup:last-child {
	margin-right:0;
	padding-right:10px;
}
.panelGroup .d3 {
	position:absolute;
	z-index:1;
}
#dashboard #primary_table {
        margin:50px 10px 10px;
}

.filterList {
	position:relative;
	z-index:10;
}


.dash_control {
	float:right;
	font-size:10px;
	font-weight:normal;
}
.filter_display {
	color:steelblue;
	font-size:10px;
	padding-left:2em;
}

.dashboardPanel h1 {
	background: #f0f0f0;
	border-bottom:1px solid #bbbdbf;
	border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	font-size:16px;
	font-weight:normal;
	display:block;
	height:29px;
	margin:0;
	padding:10px 10px 0;
	overflow:hidden;
	width:100%;
	position:absolute; 
}
.dashboardPanel h2, .dashboardPanel h3 {
	font-family: 'Lato',Trebuchet, verdana, sans-serif;
	font-size: 200%;
	font-weight: 400;
}
.dashboardPanel h2 span {
	color: #1B75BB;
	display: block;
	font-size: 120%;
	margin: 1em 0 .25em;
	text-transform:uppercase;
}

.dashboardPanel h2, 
.dashboardPanel h3, 
.dashboardpanel p {
	margin:0 0 3px; 
	padding:0;
}

.dashboardPanel a {
	text-decoration:none;
}

#dashboard_filters .dashboardPanel ul {
	list-style:none;
	margin: 0;
	padding:0;
}
#dashboard_filters .dashboardPanel li {
	padding:3px;
	margin:3px 0;
}
#dashboard_filters .dashboardPanel li.selected {
	background-color:#59f;
	color:#fff;
	font-weight:bold;
}
#dashboard_filters .dashboardPanel li:hover {
	background-color:steelblue;
	color:#fff;
}
#dashboard_filters .dashboardPanel.filtered li {
	color:#ccc;
}

#dashboard_filters .dashboardPanel li.selected:hover {
background-color:lightblue;
}
#dashboard_filters .dashboardPanel li.selected:active {
background-color:transparent;
color:black;
}

.dashboardPanelCommand {
	position:absolute;
	bottom:8px;
	display:block;
	margin:0 -6px -6px -6px;
	padding:6px 0 6px 6px;
	width:94%;
}
.innerPanel {
	height: 246px;
	overflow-y:scroll;
}

.bottomPanel {
	border-top: 2px #1b75bb solid;
	clear:both;
	font-size:83%;
	margin-top:1em; 
	overflow:auto;
	padding-top:1em;
	width:100%; 
}
.bottomPanel ul {
	list-style-type:none;
	margin:0;
}
.bottomPanel li {
	font-family: 'Lato',verdana,sans-serif;
	float:left;
	padding-right:1em;
}
.bottomPanel a {
	color:#000;
	text-decoration:none;	
}
.bottomPanel li img {
	float:left; 
	margin-right:1em;
}
.bottomPanel li span {
	color:#1b75bb;
	display:block;
	font-size:120%;
	text-transform: uppercase;
}

	

/* --- stat styles --- */
.statBar {
	background:#8d94f4; 
	display:block;
	padding:1px;
	margin:0;
}

/* --- project list box --- */
.dashboardList {
	border-bottom: 1px #ccc solid; 
	padding: 0.75em 0;
}
.dashboardList:nth-child(2n+2) {
	background:#e7e7e7;
}
.dashboardList h3 {
	font-size:11px;
}
.dashboardList p, 
.dashboardList ul {
	margin-top:.25em;
}
.dashboardList ul {
	list-style-type:square;
	margin-left:2em;
}
.dashboardList p,
.dashboardList li {
	padding-bottom:0;
	margin-bottom:0;
}
.thumbnail {
	width:100px;
	margin-right:10px;
}
.thumbnail img {
	max-width:100%;
}
.thumbnailList {
}

/* --- priority states ---*/

.lowPriority {
	color:#777;
	font-style:italic;
}

/* --- D3js Charting ---*/

.chart {
	border-left: 1px solid #ccc;
	margin-top:4px;
}
.chart div {
	background-color: #ccc;
	border-radius: 0 3px 3px 0;
	color: white;
	font: 10px sans-serif;
	height: 18px;
	margin: 0 0 6px;
	text-align: right;
}
.filtered .chart div {
	background-color: #dedede;
}