@charset "utf-8";
/* CSS Document */

#slider-container { 
	width: 540px; height: 300px; overflow: hidden; position: relative;
}
ul#simple-slider {
	background-color: #c1daff;
	list-style:none;
	margin-top:0;
	padding-left: 0;
	overflow:hidden; 
	width: 1082px	
}
ul#simple-slider li { 
	background-color: #e4efff;
	border-right: 1px dashed white;
	display: none; 
	float:left; 
	height: 260px;
	padding: 20px;
	position: relative;
	width: 500px;
}
ul#simple-slider li.active {
	display: block;
}
#simple-slider p.caption {
	font-size: 14px;
	margin: 0 20px;
	position: absolute; bottom: 20px;
	text-align: center; 
	width: 460px; 	
}
#simple-slider img.slider-toggle { display: none; padding: 0 5px; }
#simple-slider img.slider-toggle:hover {
	background-color: #c1daff; 
	cursor: pointer;
	opacity: 0.5; filter: alpha(opacity=50);
}
#slide-counter { 
	color: #ccc;
	padding-left: 20px;
}
#slide-counter i { 
	color: #0168db;
}
.slider-toggle { height: 300px;	padding: 0 5px; position:absolute; top: 0; width: 20px; }
	.slider-toggle.left { background: url('furniture/slider-left-arrow.png') 0 0 no-repeat; left: 0; } 
	.slider-toggle.right { background: url('furniture/slider-right-arrow.png') 0 0 no-repeat; right: 0; } 