/* CSS Document */

body {
	background-color:#f7f7f7;
	margin:0; 
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
}


/* COLOR DEFINITIONS 

Page white: #fff
Page gray: #f7f7f7
Footer gray: #dedede
Border color: #ccc
Gray text (inverse): #999;
Gray text: #666
Header gray: #333

Strong blue: #0168db (link) / #084fab (backgrounds)
Bright blue: #009ff5
Highlight blue: #e4efff
Muted blue-gray: #8fb1e8
Dark blue: #002f7a

Alert yellow: #fffcc9
Dark yellow: #eee880

Success text green: #66cf36
Success green: #dbffc9
Bright green: #63ed00

Warning text red: #d40000
Bright red: #ff4f4f
Warning red bg: #ffe2de

*/

/* RESET / DEFAULT  - from xdat.css */

h2, h3, h4 { line-height: 1 ; }
h3 { margin: 0 !important ; }
p, table { font-size: 12px ; line-height: 1.3 ; }
p { margin: 0; }
th { margin: 0 ; border-collapse: collapse ; padding: 0 4px ; }
td {  }
a.plainText { text-decoration: none ; color: black ; }
a { cursor: pointer !important ; text-decoration: none ; color: #0168db ; }
a:hover { cursor: pointer !important ; }
img { border: none ; }
form { font-size: 12px ; }
fieldset { border: none; }
input {  }
select {  }
.hidden { display: none !important; }

/*
 * =========================== DEFAULT UI ELEMENTS =======================
 */

/* DEFAULT TYPE STYLES */

h1, h2, h3 { font-weight: normal; margin: 1em 0 0.25em !important; }
h4, h5, h6 { font-weight: bold; margin: 1em 0 0.5em; }
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; color: #084fab }
li { font-size: 13px; margin: 0 0 1em; }
a, a:visited { color: #0168db; text-decoration:underline }
a:hover { color: #009ff5 }
a:active { color: #e4efff }

.odd { background-color: #fff; }
.even { background-color: #f3f3f3; }


/* TOOL TIPS */

/* icon and text tooltip common styles */
.tip_text,
.tip_icon { display: inline-block ; position: relative ; overflow: visible ; }
.tip_text:hover,
.tip_icon:hover { cursor: help ; }

/* the tooltip box common styles */
.tip_text .tip,
.tip_icon .tip { 
	background-color: #ffffd0 ;
	border: 1px solid #ccc ; 
	color: #666 ; 
	display: none ; 
	font-size: 11px ; 
	line-height: 14px ; 
	padding: 9px 12px ;
	position: absolute ; left: 20px ; top: -5px ; 
	text-align: left ; 
	width: 400px ; 
}
.tip_text:hover .tip,
.tip_icon:hover .tip { display: block ; z-index: 11 ; }

/* tooltip using text */
.tip_text { font-weight: normal ; border-bottom: 1px dotted #888 ; color: #002f7a; }
.tip_text .tip { left: 80px ; }

/* tooltip using icon styles */
.tip_icon { width: 14px ; height: 14px ; left: 4px ; top: 3px ; background: transparent url('furniture/qm.gif') center center no-repeat  ; }
.shadowed {
	box-shadow: 0px 4px 8px #a0a0a0;
	-moz-box-shadow: 0px 4px 8px #a0a0a0;
	-webkit-box-shadow: 0px 4px 8px #a0a0a0;
}

/* link or span included inside a headline */
.inline-link {
	border-left: 1px solid #999;
	color: #666;
	font-size: 11px;
	margin-left: 10px;
	padding-left: 10px;
}

/* ALERTS & MESSAGES TO USERS */

div.warning, 
div.error, 
div.message,
div.success,
div.note { 
	background-color: #f7f7f7;
	background-size: 16px 16px; 
	background-position: 6px center; 
	background-image: url('icons/icon-check-blue-48.png'); 
	background-repeat: no-repeat; 
	border: #ccc solid;
	border-width: 0 1px 1px 1px;
	color: #444;
	font-size: 12px; 
	padding: 10px 10px 10px 30px;
	position: relative; /* top:-12px; */ left:-1px;
	width: 960px;
}
	div.warning { background-color: #ffa; background-image: url(icons/icon-alert-48.png);} 
	div.error { background-color: #ffafaf; background-image: url(icons/icon-error-48.png);} 
	div.message { background-color: #e4efff; background-image: url(icons/icon-info-48.png);}
	div.success { background-color: #dbffc9; background-image: url(icons/icon-check-green-48.png); } 
	div.message.loginPage, div.error.loginPage, div.message.loginPage, div.note.loginPage { top: -40px; }
	
.warning-inbody { 
	background: url('furniture/icon-alert-lg.png') 10px center no-repeat #ffa; 
	border: 1px solid #cc8;
	font-size: 16px;
	padding: 10px 10px 10px 70px;
} 

#warning_bar { 
	background: #ffa ; 
	border: 1px solid #ee9 ; 
	border-left: none ; 
	color: #444 ; 
	font-size: 11px ; 
	line-height: 20px ; 
	min-height: 20px ; 
	padding: 2px;
	position: absolute ; left: 0 ; top: 0 ; 
	vertical-align: middle ; 
	width: 550px ; 
}
	#warning_bar > span { padding: 0 4px ; }
	#warning_bar .close:hover { cursor: pointer ; }
	#warning_bar .tip_text { border: none ; }
	#warning_bar .tip_text i { border-bottom: 1px dotted #888 ; font-style: normal ; }
	#warning_bar .tip_text .tip { left: 0 ; top: 28px ; width: 250px ; }

#aspera_messagebar { /* positioned dynamically above #layout_content */
	background-color: #fff; 
	display: block; 
	margin: 0 auto; 
	padding: 0; 
	position: relative; left: -1px; 
	width: 1000px; 
}
	#aspera_messagebar .note, 
	#aspera_messagebar .warning { font-size: 14px; line-height: 18px; top: 0; left: 0; background-image: none; padding-left: 20px; padding-right: 20px; } 
	#aspera_messagebar .note { background-color: #e7e7e7; border-top-color: #c7c7c7; }
		.note .warning-inset, 
		.warning .warning-inset { color: #c60; display: inline-block; font-weight: bold; margin-top: 18px; vertical-align: top; width: 210px; }
		.note .message-inset, 
		.warning .message-inset { border-left: 1px solid #999; display: inline-block; padding-left: 30px; width: 700px; }

#autogen_warning { display:none; } 

/* ICONS */

.icon { display:inline-block; height:48px; width: 48px; margin-right: 10px; padding: 0 !important; } 
.icon-add-article { background: url('icons/icon-document-add-48.png'); }
.icon-add-subjects { background: url('icons/icon-add-subjects.png'); }
.icon-alert { background: url('icons/icon-alert-48.png'); } 
.icon-aws { background: url('icons/icon-AWS-48.png'); } 
.icon-check-green { background: url('icons/icon-check-green-48.png'); }
.icon-check-blue { background: url('icons/icon-check-blue-48.png'); }
.icon-check-red { background: url('icons/icon-check-red-48.png'); }
.icon-cinab { background: url('icons/icon-cinab-48.png'); } 
.icon-close { background: url('icons/icon-close-48.png'); } 
.icon-dashboard { background: url('icons/icon-dashboard-48.png'); }
.icon-download { background: url('icons/icon-download-48.png'); }
.icon-doc-add { background: url('icons/icon-document-add-48.png'); }
.icon-doc-csv { background: url('icons/icon-doc-csv-48.png'); }
.icon-doc-csv-rst { background: url('icons/icon-doc-csv-RST-48.png'); }
.icon-doc-rst { background: url('icons/icon-doc-RST-48.png'); }
.icon-doc-xml { background: url('icons/icon-doc-xml-48.png'); }
.icon-docs { background: url('icons/icon-documents-48.png'); }
.icon-edit { background: url('icons/icon-edit-48.png'); }
.icon-email { background: url('icons/icon-email-48.png'); }
.icon-error { background: url('icons/icon-error-48.png'); }
.icon-get-csv { background: url('icons/icon-get-csv-48.png'); }
.icon-get-csv-RST { background: url('icons/icon-doc-RST-48.png'); }
.icon-get-files { background: url('icons/icon-get-files-48.png'); }
.icon-group { background: url('icons/icon-group-48.png'); }
.icon-group-save { background: url('icons/icon-group-save-48.png'); }
.icon-info { background: url('icons/icon-info-48.png'); }
.icon-link { background: url('icons/icon-link-48.png'); }
.icon-list { background:url('icons/icon-list-48.png'); } 
.icon-locked { background:url('icons/icon-lock-48.png'); } 
.icon-patch { background: url('icons/icon-patch-48.png'); }
.icon-qm { background: url('icons/icon-qm-48.png'); }
.icon-rst-tier1 { background: url('icons/icon-RST-tier1-48.png'); }
.icon-rst-tier2 { background: url('icons/icon-RST-tier2-48.png'); }
.icon-timer { background: url('icons/icon-timer-48.png'); } 
.icon-trash,
.icon-trash-gray { background: url('icons/icon-trash-gray-48.png'); }
.icon-trash-red { background: url('icons/icon-trash-red-48.png'); }
.icon-unlocked { background:url('icons/icon-unlocked-48.png'); } 
.icon-upload { background: url('icons/icon-upload-48.png'); }

.btn .icon	{ background-size: 24px 24px; height: 24px; width: 24px; margin: -4px 4px -8px -2px; }
.tool .icon { background-size: 32px 32px; height: 32px; width: 32px; margin: 0 auto; } 
.btn-sm .icon, .vertical .tool .icon, .icon-sm { background-size: 16px 16px; height: 16px; width: 16px; margin: 0 4px -3px 0; }
.btn-xs .icon, .icon-xs { background-size: 12px 12px; height: 12px; width: 12px; margin: 0 4px -1px 0; }

.warning .icon, .note .icon, .message .icon, .alert .icon { margin-right: 0; position: absolute; right: 10px; } 


/* BUTTONS */

button, .button, a.button, .keyword.button {
	display: inline-block ; margin: 2px ; padding: 2px 6px;
	color: #333 ; border: 1px solid #d3d3d3 ; border-radius: 0 ; font-size: 12px ; font-weight: normal ;
	/* background: #f0f0f0 url('furniture/btn2_30px.png') top center repeat-x  ; */ text-decoration: none !important ; }
button:hover, .button:hover { cursor: pointer ; /* color: #186ec4 ; */ }
button.active, .button.active { color: #fff !important ; background-color: #084FAB ; background-image: url('furniture/btn1_30px.png') ; border: 1px solid #508AD0;  }
#info-button { 
	background: #e0f3ff url('icons/icon-info-48.png') 10px center no-repeat; 
	border: 1px solid #ccc; 
	float:right; 
	font-size: 13px; 
	line-height: 1.3; 
	max-width: 270px; 
	padding: 10px 10px 10px 70px; 
}

#download_box button {
	font-size: 13px ;
	padding: 2px 6px ;
	/* CSS3 rounded corners */
	border: 1px solid #999 ;
	-moz-border-radius: 4px ; /* FF1+ */
	-webkit-border-radius: 4px ; /* Saf3-4 */
	border-radius: 4px ; /* Opera 10.5, IE 9, Saf5, Chrome */
}

.ie #download_box button { border-radius: 4px ; }
/*
.ie7 #download_box button,
.ie8 #download_box button { border-radius: 3px ; behavior: url('border-radius.htc') ; }
*/

#download_box button[disabled=disabled] { background: #e0e0e0 ; color: #909090 ; border-color: #c0c0c0 }
#download_box button[disabled=disabled]:hover { cursor: default ; }
#download_box button.download { font-weight: bold ; color: #fff ; background: #080 url('furniture/dl_btn_bkgd.png') center center repeat-x  ; border: 1px solid #060 ; }
#download_box button.download[disabled=disabled] { color: #cfe5cf ; background: #a3cca3 ; border-color: /* #7db37d */ #8fbf8f ; }

.btn, .input {  background-color: #f3f3f3; border: 1px solid #848484; border-radius: 2px; box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15); color: #666; font-size: 14px; height: 36px; padding: 6px 12px; }

.btn1 { background-image: url('furniture/btn1_30px.png') ; border: 1px solid #508ad0 ; color: #fff; }
.btn2 { background-image: url('furniture/btn2_30px.png') ; border: 1px solid #d3d3d3 ; }
.btn3 { background-image: url('furniture/btn3_30px.png') ; border: 1px solid #060 ; color: #fff; }
.btn1, .btn2, .btn3 { background-position: center center ; background-repeat: repeat-x ; display: inline-block ; padding: 3px 8px ; text-decoration: none ; }

.button-large {
	background: #fff; 
	border: 1px outset #a0a0a0; 
	border-radius: 3px;
	margin-left:20px; 
	max-width: 270px;
	padding: 12px;
}
.button-large.right { 
	float:right; 
}
.button-banner { 
	background: url('furniture/btn-bg-tall.png') left center repeat-x; 
	border: 1px outset #a0a0a0; 
	padding: 12px !important;
} 
	.button-large:hover, .button-banner:hover {
/*		background-color: #e4efff; */
		border-color: #36c; 
		border-style: inset; 
		cursor: pointer;
	}
	.button-large:active, .button-banner:active {
		background-color: #e0e0e0;
		border: 1px inset #999;
		cursor: pointer;
	}
	.button-large p, .button-banner p { color: #444; font-size: 12px !important; text-align: center; }

	
.btn-sm, .input-sm { font-size: 12px; height: 26px; padding: 4px 8px; } 
.btn-sm .icon, .icon-sm { background-size: 16px 16px; height: 16px; width: 16px; margin: 0 4px -2px -2px; } 
.btn-xs, .input-xs { font-size: 11px; height: 22px; padding: 2px 4px; vertical-align: inherit; }
.btn-inline { display: inline-block !important; }

.btn:hover, .btn1:hover, .btn2:hover, .btn3:hover, .input:hover { border: 1px solid #a0a0a0; box-shadow:none; opacity: 0.9; filter: alpha(opacity=90);  }

	
/* FORM ELEMENTS */

input, button, input[type="submit"] { font-family: Arial, Helvetica, sans-serif ; font-size: inherit ; }
button, input[type="submit"], input[type="button"] {  }

.formLabel,
.formLabelRequired,
.formSublabel { text-align: left; white-space: nowrap ; }

.formLabelRequired b { color: red ; }

	/* Friendly Form - used on site login & registration */ 
	
	.friendlyForm fieldset { 
		margin: 1em 0; 
		padding: 1em 0;
	}
	.friendlyForm .fieldset.error { 
		background-color: #fffcc9;
		color: #d40000; 
	}
	.friendlyForm p {
		font-size: 16px !important;
		line-height: 1.4em !important;
		margin-bottom: 1em;
		position: relative;
	}
	.friendlyForm label {
		color: #777; 
		display:block;
		font-size: 12px !important;
		font-weight: bold; 
		text-transform: uppercase; 
	}
	.friendlyForm input[type=text],
    .friendlyForm input[type=password],
    .friendlyForm input[type=file],
    .friendlyForm textarea {
		font-size: 14px !important;
		padding: 6px;
		width: 96%;
	}
	.friendlyForm input[type=file] { 
		border: 1px solid #e0e0e0;
		border-radius: 3px;
		margin: 1em 0 inherit; 
		padding: 1em;
	} 
	.inputWrapper {
		border-radius: 6px;
		margin-bottom: 10px;
		padding:6px;	
		position: relative;
	}
	.inputWrapper.highlighted {
		background-color: #e4efff;
	}
	.inputWrapper.error {
		border: none;
        padding: 6px;
        position: relative;
        top: 0; left: 0;
        width: inherit;	/* override other .error styles */
	}
	.inputWrapper.error,
    .inputWrapper table tr.error { background-color: #fde;  }

    .inputWrapper.wide {
		width: 600px;
	}
	.inputWrapper.error h3,
    .inputWrapper.error ul {
		margin-left: 30px !important; 
	}
	.friendlyForm p.error {
        color: #c33;
		font-size: 12px !important; 
		font-weight: bold;
		margin-left: 6px;
	}
	.inputWrapper label {
		color: #37c;
	}
	.inputWrapper input[type=text],
    .inputWrapper input[type=password],
    .inputWrapper textarea {
		width: 330px;
	}
	.inputWrapper.wide input[type=text],
    .inputWrapper.wide input[type=password],
    .inputWrapper.wide textarea {
		width: 600px;
	}
	.inputWrapper input:read-only { background-color: #f0f0f0; color: #999; } 
	
	.inputWrapper .helptext,
    .inputWrapper .helptext-error {
		color: #888;
		font-size: 12px;
		line-height: 14px;
		position: absolute; bottom: 18px; left: 425px;
	}
	.inputWrapper.wide .helptext,
    .inputWrapper.wide .helptext-error {
		padding-top: 4px;
		position: inherit; bottom: inherit; left: inherit; 
	}
	.inputWrapper table { border: 1px solid #ccc; border-collapse: collapse; }
	.inputWrapper td, .inputWrapper th { padding: 3px; }
	.inputWrapper td { border-top: 1px solid #ccc; }
	.inputWrapper th { text-align: left; background-color: #f3f3f3; }
	p.form-submit {
		font-size:12px !important;
		text-align: right; 
	}
	.form-submit input,
    .request-access input,
    .overlay-action input {
		font-size: 16px !important;
		padding:6px 12px;
	}
	.request-access input {
		float:right;
	}

/*
 * ====================== PAGE LAYOUT ELEMENTS =======================
 */

html, body { height: 100% ; margin: 0 ; padding: 0 ; }

body { overflow-y: scroll ; }

#body-container { min-height: 100% ; height: auto !important ; height: 100% ; padding-bottom: 20px ; position: relative ; }

#topbar-container {
	background-color: #333;
	color: #999;
	height: 48px;
	position: relative;
	top: 0; 
	left: 0;
	width: 100%;
	z-index: 2;
}
#topbar-positioner {
	height: 48px; /* change this if topbar-container height changes */
	z-index: -1;
}
#topbar {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 1000px;
}

#topbar #leftgroup {
	position: absolute; top: 0; left: 0;
}
	#site-logo {
		border-right: 1px solid #444;
		float: left;
		height: 48px;
		overflow: hidden;
		width: 220px; 
	}
	#site-logo img {
		border:0;
	}
	#topbar .text-nav {
		border-right:1px solid #444;
		cursor: pointer;
		float:left; 
		height: 48px;
		white-space: nowrap;
	}
	#topbar .text-nav a { 
		color: #999; 
		display: inline-block; 
		padding: 16px 20px 14px;
		text-decoration: none;
	}
	#topbar .text-nav:hover { 
		background-color: #023;
	}
#topbar #rightgroup {
	position: absolute; top: 0; right: 0;
}
	#search {
		float:left;
		padding: 10px 5px;
	}
			#search_btn { 
				border-radius: 4px; 
				color: #fff; 
				padding: 5px 8px 4px;
			}
	#topbar input {
		border:none;
		color: #666;
		font-size: 14px;
		padding: 4px 6px;
		border-radius: 3px;
		width: 237px;
	}
	#topbar #rightgroup select,
	#topbar #leftgroup select {
		background-color: #666; 
		border:none;
		border-radius: 3px;
		color: #ccc;
		font-size:14px;
		padding: 3px 6px;
	}
	#user-info {
		float: left;
		padding: 10px 5px;
	}
	#topbar-help {
		display:none;
		/* hide this temporarily */
		padding: 16px 0;
		width: 16px; 
		float: left;
	}
#message-container { 
	margin: 0 auto; 
	padding: 0; 
	position: relative; 
	width: 1000px; 
} 
#hanging-nav { 
    background-color: #ddd;
		background-position: right 4px center; 
		background-repeat: no-repeat;
		background-size: 16px 16px;
    border: solid #ccc;
	border-width: 0 1px 1px 0;
    color:  #666;
    display: inline-block;
    position: relative; top: -40px; left: -10px; /* positioning inside #layout_content */
/*    position: relative; top: 48px; left: 0; /* positioning inside #topbar */
    padding: 3px 10px;
} 
	#hanging-nav .hanging-nav-item { display: inline-block; } 
	#hanging-nav .hanging-nav-item .input { background-color: #fff; box-shadow: none; } 
#layout_content {
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
	box-shadow: 0 0 16px #ccc;
	min-height: 600px;
	margin: 0 auto 20px;
	padding: 40px 10px 60px; 
	position: relative;
	width: 980px;
	z-index: 0;
}
#layout_content2 {
	margin: 0 auto;
}
#layout_content2.warning { 
	background-image: url('icons/icon-timer-48.png'); 
	background-color: #e7e7e7; 
} 
#footer-container {
	position: relative ;
    background-color: #DEDEDE;
	border-top: 1px solid #ccc;
	margin-top: -90px ;
    height: 90px;
/*	position: relative; */ /* removed to fix position bug - overlapped modal */
	width: 100%;
    z-index: 1 ;
}
	#footer {
		color: #666;
		margin: 20px auto; 
		width: 1000px;
	}
	#footer p {
		font-size: 12px;
	}
	#footer a, #footer a:visited {
		color: #666;
	}
	#footer a:hover {
		color: #333;
	}

/* Page mask & modal */ 

.mask, #page-mask {
	background-color: #000;
	height: 100%;
	min-height: 3000px;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.6;
	filter: alpha(opacity=60);
	width: 100%;
	z-index: 11000;
}
.modal {
	background-color: white;
	border:1px solid #333;
	border-radius: 3px;
	  -moz-border-radius: 3px;
	display: none; 
	margin-left: -350px; /* half of 700px width */
	min-height: 540px;
	padding: 20px;
	position: fixed; top: 60px; left: 50%;
	width: 700px;
	z-index: 11001;
}	
	.modal-title {
		border-radius: 3px 3px 0 0; /* match modal border radius */
		border-bottom: 1px solid #ccc;
		background-color: #f0f0f0; 
		padding: 6px; 
		position: relative; top: -20px; left: -20px;	
		width:726px; /* tied to width of modal plus padding, -4 px */
	}
	.modal-close { position: absolute; top:6px; right: 6px; }
	.modal hr { margin: 1em 0; }

.interact-div {	position: relative; left:0;	top: 15px; }
	.interact-div .form-submit {
		display: inline-block;
		position: absolute; top: 0; right: 20px !important;
	}

/*
 * ================ LOGIN PAGE ================
 */
 
#page-bg {
	background: url('furniture/data-banner-bg.jpg') top left no-repeat #ccc; 
	min-height: 680px;  /* cover min-height of #layout_content (600px + 80px padding) */
	opacity: 0.4; filter: alpha(opacity=40) ;
	padding-top: 20px;
	position: absolute; top: 0; left: 0; 
	width: 100%;
	z-index: -1; 
}
.overlay-container { 
	margin-top: 30px; 
	position:relative;
	margin-bottom: 15px;
}
	.overlay-half {
		background: url('furniture/bg-white-70.png') left top repeat #fff;
		border: 1px solid #a0a0a0;
		border-radius: 3px;
		min-height: 240px;
		overflow: hidden;
		padding: 15px;
		position: absolute; top: 0;
		width: 450px;
	}
	.overlay-half.right { right:0px; }
		.overlay-half h3 {
			margin: 0 !important;
			padding-bottom: 16px;
		}
	div.overlay-action {
		position: absolute; right: 15px; bottom: 15px;
	}

/*
 * =============== LANDING "SPLASH" PAGE ================
 */

#datasets, .dataset {	margin: 30px 0; position: relative; }
#datasets { z-index: 9 } 
#dataset-filter-container { background-color: #000; border-radius: 10px 10px 0 0; border-bottom: 1px solid #69c; padding: 10px;  position: absolute; top: -57px; right: 0; } 
#dataset-filter-container input.input { width: 250px; box-shadow: none; } 
.dataset { background: #000 url('furniture/project-bg-default.png') center center no-repeat; color: #fff; position: relative; width: 980px; } 
.dataset div, .dataset p, .dataset strong { color: #fff; } 
.dataset a, .dataset a:visited { color: #ffee33; font-weight: bold; } 
.dataset h2 { font-size: 20px; } 
.dataset h2, .dataset h3, .dataset label { color: #9cf; margin: 0 !important; } 
.dataset h2 a { text-decoration: none; }
.dataset label { font-size: 11px; font-weight: bold; text-transform: uppercase; } 
.dataset-header { height: 42px; position: relative; } 
.dataset-header div, .dataset-body div { padding: 10px; } 
.dataset-body { min-height: 150px; position: relative; } 
.dataset-footer div { padding: 5px 10px; }
.dataset-header button, .dataset-header select { box-shadow: none; }

.dataset.no-access .dataset-header { background:none; border-bottom: 1px dotted #fff } 
.dataset.open-access .dataset-header { background-color: #002f7a } 
.dataset.restricted-access .dataset-header { background-color: #971b1e; }  
.dataset.restricted-access .dataset-header h2, 
.dataset.restricted-access .dataset-header label { color: #ffee33; } 

.dataset-body p { margin: 1em 0 0; } 
.dataset-body .dataset-stats { position: absolute; right: 10px; top: 0; width: 225px; }
.dataset-stats p { clear: both; }
.dataset-stats label { color: #e4efff; display: inline-block; font-size: 11px; font-weight: bold; height: 28px; text-transform: uppercase; vertical-align: middle; width: 110px; }
.dataset-controls { height: 28px; position:absolute; top: -1px; right: 10px; } 
.dataset-access { font-size: 11px; } 
.dataset-description { width: 650px; } 
.dataset-stat { color: #fff; display: inline-block; font-size: 28px; height: 36px; padding-right: 6px; text-align: right; vertical-align: middle; width: 68px; }

.toolset .dataset-stat { color: #484848; }
.toolset .dataset-stats label { color: #666; }

.dataset-footer { border-top: 1px dotted #36c; } 
.dataset-keywords dl { display: inline-block; list-style-type: none; margin: 0; } 
.dataset-keywords dl dt { color: #ccc; display: inline-block; font-size: 11px; text-transform: uppercase } 
.dataset-keywords dl dt:before { content: ", " }
.dataset-keywords dl dt:first-child:before {content: "" } 

.dataset_toolbox { margin:15px; overflow: auto; padding: 15px 0; }
.dataset_toolbox p { font-size: 12px; margin-bottom: 1em; max-width: 600px; }
		.dataset_tool { float:left; font-size: 12px; margin-right: 60px; min-width: 200px; max-width: 420px; }
		#dataset_tool_custom_group { position: absolute; right: 35px; top: 60px; width:200px; } /* move this out of the way of the other tools */
      /*  #dataset_tool_custom_group:hover { background-color: transparent ; } */
		.dataset_tool select { padding: 6px; width: 200px; }

		.dataset_tool a { color: #444; display: inline-block; margin-left: 6px; }
    .dataset_tool a:hover { color: #01db68; }
	.resource-section { margin-top: 2em; }
	
/* properties for DUT modal */

.dutWrapper {}
	.dutWrapper ol { list-style-type: decimal; }
	.dutWrapper ol ol { list-style-type: lower-alpha ; }
	.dutWrapper p,
	.dutWrapper li { font-size: 14px !important ; line-height: 1.3em ; margin-bottom: 1em ; }
	input.term-check { float: left ; margin-left: -1.5em ; }

/*
 * ================= HEADER =================
 */

#header { 
	background: none ; 
	position: relative ; 
	margin: 16px 0; 
	min-height: 72px ; 
	z-index: 1 ; 
}
	.header p { 
		color: #444;
		font-size: 16px;
		margin-bottom: 4px;
		max-width: 600px;
	}
	#user_info {
		color: #333 ; 
		display: block ; 
		font-size: 11px; 
		margin-right: 1em ; 
		position: absolute; top: 6px; right: 6px;
		white-space: nowrap;
	}
		#user_info b { 
			font-weight: normal ; 
			padding: 0 5px ; 
		}
		#user_info #timeLeft { 
			color: #000 ; 
			font-family: "Courier New",Courier,monospace ; 
			font-weight: bold ; 
			padding: 0 0 0 1px ; 
			white-space: nowrap ; 
		}
	#page-title {
		font-size: 32px;
		line-height: 1;
		margin-bottom: 20px;
	}

/* restricted data selector - placed inside hanging navigation */

	#hanging-nav.tier0 { 
		background-image: url('icons/icon-unlocked-48.png'); 
		padding-right: 24px;
	}
	#hanging-nav.tier1 { 
		background-color: #900; 
		background-image: url('icons/icon-RST-tier1-48.png'); 
		color: white; 
		padding-right: 24px;
	}
	#hanging-nav.tier2 { 
		background-color: #300; 
		background-image: url('icons/icon-RST-tier2-48.png'); 
		color: white; 
		padding-right: 24px;
	}

/*
 * =================== TOOLBAR ================== 
 */

#toolbar-positioner {
	position: relative; 
	left: -10px;
	margin-bottom: 45px;
}
#toolbar-container {
	height: 90px;
	position: relative; 
	width: 1000px;
}
#toolbar {
	background-color: #f7f7f7; 
	height: 90px;
	padding:0;
	width: 1000px;
}
.toolset {
	background-color: #f7f7f7;
	border-left: 1px solid #ccc;
	float: right; 
}
	.toolset.dut-required { background-color: #e4efff; } 
	.toolset.current-selection {
		border: none;
		float: inherit;
	}
	.toolset-header {
		background-color: #084fab; 
		color: #fff; 
		font-size: 9px; 
		height: 12px;
		padding: 2px 6px; 
		text-transform: uppercase; 
	}
	.toolset-content {
		height: 50px;
		padding: 9px 0 15px;
		margin-left: 12px; 
	}
	.toolset-content.vertical { min-width: 150px; }
	
	#toolbar-container.subjectKey,
	#toolbar-container.subjectKey #toolbar,
	#toolbar-container.subjectKey #toolbar .toolset .toolset-content { height: inherit; /* allow expanding-height for subject key description */ }
	
		.toolset.current-selection .toolset-content { padding-left: 36px; } 
		.toolset-content p, .toolset-content h3 { margin:0 15px 0 0; }
		.toolset-content h3.subject-group-icon { background:url('icons/icon-group-48.png') left 2px no-repeat; background-size: 24px 24px; height: 24px; margin: 0 15px 0 -36px !important; padding-left: 36px; }
		.toolset-content h3.session-icon { background:url('furniture/icon-session.png') left 2px no-repeat; background-size: 24px 24px; height: 24px; margin: 0 15px 0 -36px !important; padding-left: 36px; }
		.tool {
			border:1px solid #f7f7f7; 
			border-radius: 6px; 
			cursor: pointer;
			float: left;
			height: 48px;
			margin-right: 8px; 
			padding: 6px 6px 3px; 
		}
		.tool img {
			border: none;
			display: block;
			height:32px; width: 32px;
			margin: 0 auto;
		}
		.tool label, 
		.tool .button_content b {
			color: #666;
			cursor: pointer; 
			display: block; 
			font-size: 12px; 
			font-weight: bold; 
			margin: 0 auto; 
			text-align: center;
			white-space: nowrap; 
		}
		.tool.disabled {
			cursor: default;
			opacity: 0.3;
		}
		.tool.inline { 
			display: inline-block; 
			height: 36px; 
		}
		.tool.prompt { 
			background-color: #efc; 
			border-color: #ccc; 
		} 
		.dut-required .vertical .tool { background-color: #f0f0f0; } 
		.tool.inline img, .tool.inline label { display: inline-block; margin-bottom: -12px; } 
		
		/* settings for tool buttons that are vertically stacked */
		.vertical .tool { 
			background-color: inherit; 
			border-color: #ccc;
			border-radius: 2px;
			float: inherit;
			height: 20px;
			margin-bottom: -1px; 
			width: 150px; 
		}
		.vertical .tool.inline { width: inherit; } 
		.vertical .tool img { 
			display:inline-block;
			height: 16px; width: 16px;
			margin: 0 3px -3px 0;
		}
		.vertical .tool label,
		.vertical .tool .button_content b { display: inline-block; }
		.tool.admin, .vertical .tool.admin { background-color: #fffcc9; }
		
		.vertical .tool div.xmenu { top: 0; margin: 0; width: 100%; height: 20px;}
		.vertical .tool div.xmenu .xmenu_button { background: url(furniture/select_arrow_down.png) 142px 8px no-repeat; background-size: 18px 12px; border: none; border-radius: 0; height: 20px; margin: -6px 6px 0 -6px;  padding: 5px 6px; width: 100%;}
		.vertical .tool div.xmenu.open .xmenu_button { background-color: #dedede; }
		.vertical .tool div.xmenu .xmenu { top: 23px; left: -6px; }
		
		.tool:not(.disabled):hover {
			background-color:#fff; 
			border:1px solid #ccc;
		}

		.selection-title, .currSubjDisplay { color: #084fab; font-size: 24px; line-height: 1.3; padding-bottom: 6px; width: 550px; }

        .current_selection_group { width: 480px ; max-height: 16px ; white-space: nowrap ; overflow: hidden ; }
        /*.current_selection_group:after { content: '...' ; }*/

      /*  .currSubjDisplay a {
				font-size: 10px;
			} */
		.currGroupName {
			max-height: 16px;
			/* max-width: 350px; */
			overflow: hidden;
		}
		#group-actions { margin-left: -2px; padding-top: 4px; } 
.inline-spacer { color: #ccc; margin: 0 10px; }

div.banner { 
	background: #e4efff; 
    border: 1px solid #ccc;
	font-size: 16px;
    font-weight: bold;
	line-height: 1.2; 
    margin: 0 -11px;
	padding: 30px;
	position: inherit; left: inherit; top: inherit; 
}
div.banner.progress {  
	background: url(icons/icon-check-green-48.png) 12px center no-repeat #efc;  
    color: #390; 
	padding-left: 76px;   
	width: 894px; 
}
div.banner.alert { 
	background: url(icons/icon-alert-48.png) 12px center no-repeat #fffcc9;  
    color: #666; 
	padding-left: 76px; 
	width: 894px; 
}
div.banner.error { 
	background: url(icons/icon-error-48.png) 12px center no-repeat #ffe9e9;  
    color: #c33; 
	padding-left: 76px;  
	width: 894px; 
}

/*
 * ================ FILTER SET ===============
 */

#filterset-container {
	position: relative;
	width: 1000px;
}
.filter-container {
	height: 32px;
	position:relative;
}
	.filter-row {
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		clear:both;
		position:absolute; top:1px; /* left:-11px;  */
		width: 999px;
	}
	
	.filter-row > div {
		float:left; 
	/*	height: 29px; */
		margin:0;
		padding:0;
		width:150px; 
		overflow:visible;
	}
	.filter-row.active {
		background-color:#e4efff; border:1px solid #ccc; 
	}
	/*
		.filter-row.active div.selector {
			background: #e4efff url('furniture/select-bg.png') right center no-repeat;
			border: 1px solid #8fb1e8;
		}
		.filter-row.active div.selector.disabled {
			background: #e0e0e0 url('furniture/select-bg-disabled.png') right center no-repeat; 
			border: 1px solid #c0c0c0; 
		}
	*/
			.filter-row select {
				-webkit-appearance:none; /* destroy Mac menu chrome */
				background: transparent;
				border: none; 	
				border-radius: 0;
				height: 29px;
				margin: 0;
				padding: 4px;
				width: 150px;
				padding-right: 22px;
			}
			.filter-row input[type="text"] {
				background-color: #fffcc9;
				border:1px inset #8fb1e8; 	
				color: #666;
				font-size: 14px;
				height: 20px;
				margin: 2px;
				padding: 2px 4px;
			}
			.filter-row input[type="button"] {
				-webkit-appearance: none;
				background-color: #084fab;
				border: 1px solid #8fb1e8;
				color: #fff;
				font-size: 12px;
				font-weight: bold;
				height: 30px;
				margin-top:-1px;
				padding-left: 8px; 
				padding-right: 8px;
			}
			.filter-row input[type="button"]:enabled:hover, .filter-row input[type="button"]:enabled:active {
				background-color: #002f7a;
				cursor: pointer;
			}
			.filter-row input[type="button"]:disabled {
				background-color:#8fb1e8;
			}
			.filter-text input[type="text"] {
				width:137px;
			}
			.filter-between input[type="text"] {
				font-size:12px;
				width:45px !important;
			}
			.filter-button {
				width: 55px !important;
			}
	.filter-row.filtered {
		background: #f7f7f7;
		color: #666;
	}
		.filter-row.filtered div {
			border-right: 1px solid #ccc;
		/*	height: 30px;
			padding: 0; */
			width: 149px;
		}
		.filter-row.filtered div.selector {
		}
		.filter-edit, .filter-remove {
			float: left;
			font-size: 10px;
			margin: 0; 
			padding: 8px; 
		}
		.filter-edit a, .filter-remove a {
			color:#666;
			font-weight:normal !important;
		}
		
		.filter-row input[type="text"]:disabled {
			background-color:transparent;
			border: 1px solid #ccc;
		}


@-moz-document url-prefix() {
  .filter-row select {
		-webkit-appearance:none; /* destroy Mac menu chrome */
		background: transparent;
		border: none;
		border-radius: 0;
		height: 29px;
		margin: 0;
		padding: 4px;
		width: 150px;
	}
}
.ie .filter-row select {
    -webkit-appearance:none; /* destroy Mac menu chrome */
    background: transparent;
    border: none;
    border-radius: 0;
    height: 29px;
    margin: 0;
    padding: 4px;
    width: 150px;
}

/*
 * ====================== yui DATA TABLE - container =======================
 */

#dashboard_results { margin-top: 30px; overflow:auto; width: 978px; }

.yui-content { /* table content */
	background-color: #f0f0f0;
	border: 1px solid #cccccc; 
	font-size: 12px; 
	padding: 4px 8px; 
	width: 960px;
}
	.yui-hidden {
		display:none;
	}
	.yui-pg-container { 
		font-size: 12px; 
		margin: 6px 0; 
		white-space: nowrap ; 
		width: inherit !important; /* defeat bad inline style */
	}
	.yui-pg-first, .yui-pg-previous, .yui-pg-next, .yui-pg-last, .yui-pg-current, .yui-pg-pages, .yui-pg-page { 
		display: inline-block; 
		padding: 3px 6px; 
	}
	.yui-pg-container a {
		color: #06c; 
		text-decoration: underline; 
	}
	.xT_c {
		width: inherit !important;
	}
	.yui-content div .xT_c .xT_dt { min-height: 150px; max-height: 600px; }

#search_tab_module .yui-navset.wrangled,
#dashboard_results .yui-navset.wrangled { width: auto !important ; }
 

/*
 * ============================ yui DATA TABLE - NAV ========================
 */

.yui-navset-top, .yui-navset-bottom { /* padding: auto ;  */ }

.yui-navset { 
	position: relative ; 
}
.yui-nav {  /* table nav tabset */
	border-bottom: 5px solid #084FAB; 
	list-style-type: none;
	margin: 0; 
	padding: 0; 
	position: static;
	width: auto;
}
	.yui-nav li { 
	/*	border:1px solid #ccc; */
		border-width: 1px 1px 0;
		border-radius: 1px 1px 0 0;
		display: inline-block; 
		height: 28px ; 
		margin: 0 3px 0 0 ; 
		overflow: hidden ; 
		padding: 1px 0 0; 
		vertical-align: bottom;
	}
		.yui-nav a { 
			background: #d8d8d8 url('furniture/sprite.png') repeat-x; 
			color: #000; 
			display: inline-block;
			font-weight: bold ;
			height: 28px;
			position: relative; 
			text-decoration: none; 
			vertical-align: bottom;
		}
		.yui-nav li em {
			font-style: normal;
		}
		.yui-nav a em { 
			cursor: pointer; 
			display: block;
			padding: 4px 14px 7px; 
			position: relative; 
		}
	.yui-nav .selected { 
		height: 29px ; 
		padding-top: 0; 
	}
		.yui-nav .selected a { 
			background: #084FAB url('furniture/sprite.png') repeat-x left -1400px; 
			color: #fff; 
			cursor: default; 
			height: 29px;
		}
	#tab_module ul.yui-nav select { 
		font-size: 11px !important ; 
		font-weight: normal !important ; 
		margin-top: -2px;
	}
	span.close {
		background: url('furniture/close.gif') 0 0 no-repeat;
		display: inline-block;
		height: 16px;
		position: relative; left: 4px; top: 5px;
		width: 16px;
	}

.yui-navset ul.yui-nav li.disabled,
.yui-navset.wrangled ul.yui-nav li.phantom { position: fixed ; left: -9999px ; }

.yui-button { /* custom ui element */
	border: 1px solid #808080;
	border-radius: 3px;  
	background: url('furniture/sprite.png') repeat-x 0 0; 
	display: inline-block; 
	margin: auto 4px auto 0; 
	vertical-align: bottom; 
}
	.yui-button .first-child {
		/* margin: 0 1px; */
	}
	.yui-button button {
		background-color: transparent;
		border: none; 
		color: #000000; 
		font-size: 12px; 
		font-weight: bold;
		height: 28px; 
		line-height: 28px; 
		padding: 0 12px; 
		vertical-align: middle ; 
	}
		.yui-button:hover, .yuimenubar:hover { 
			background-position: 0 -1300px;
			border-color: #7D98B8;
		}
		.yui-button:active, yuimenubar:hover {
			background-position: 0 -1700px;
			border-color: #7D98B8;
		}
	.yui-menubar {
		background: url('furniture/sprite.png') repeat-x 0 0  ; 
		border: solid 1px #808080; 
		line-height: 2; 
	}
.yuimenubar { /* custom pull-down menu */
	background: url('furniture/sprite.png') repeat-x 0 0  ; 
	border: solid 1px #808080 ; 
	border-radius: 3px; 
	font-size: 12px !important ; 
	height: 28px;
	line-height: 2 ; 
	position: static;
}
	.yuimenubar .yuimenu { 
		position: absolute ; 
	}
	.yuimenubar ul, .yuimenu ul { 
		list-style-type: none ; 
	}
	.yuimenubar ul, .yuimenu ul, .yuimenubar li, .yuimenu li, .yuimenu h6, .yuimenubar h6 { 
		margin: 0 ; padding: 0 ; 
	}
	.yuimenubarnav .yuimenubaritem { 
		position: relative;
	}
		a.yuimenubaritemlabel {  
			color: #000 !important; 
			cursor: default ;
			font-size: 12px !important;
			font-weight: bold; 
			margin: -1px 0 ; 
			padding: 2px 10px ; 
			text-decoration: none !important; 
		}
		a.yuimenubaritemlabel-hassubmenu, a.yuimenuitem-hassubmenu { 
			background: url('furniture/menubaritem_submenuindicator.png') right center no-repeat  ; 
			padding-right: 30px;
		}
			a.yuimenubaritemlabel-hassubmenu-disabled { 
				background: url('furniture/menubaritem_submenuindicator_disabled.png') right center no-repeat  ; 
				color: #606060 !important;
				cursor: default;
				padding-right: 30px;
			}
		.yuimenu { /* block of options that appears on dropdown */
			/* top: -999em ; left: -999em ; */ 
			font-size: 11px;
			font-weight: normal !important;
			line-height: 16px;
		} 
			.yuimenu .bd { 
				background-color: #fff ; 
				border: 1px solid #808080 ;
				box-shadow: 1px 2px 9px #a0a0a0; 
			}
			.yuimenuitem { 
				padding: 3px 0 !important;
				margin: 1px 0 0 !important;
			}
			.yuimenuitem:hover, .yuimenuitem-selected {
				background-color: #e4efff;
			}
			a.yuimenuitemlabel { 
				color: #000; 
				cursor: default;
				display: block;
				padding: 0 20px; 
				text-align: left;
				text-decoration: none;  
			}
			.yuimenuitemlabel .helptext { 
				margin-top: -1.5em ; 
			}
			a.yuimenuitem-checked { 
				background: url('furniture/menuitem_checkbox.png') left center no-repeat  ; }

/* 
 * ================= DATA TABLE =======================
 */

table.x_rs_t, table.x_rs_t td, table.x_rs_t th {
	border-collapse: collapse;
	font-weight: normal;
	font-size: 12px !important; 
	line-height: 14px !important;
	margin: 0;
	white-space: nowrap;
}
	tr.x_rs_tr_head {
		background: url('furniture/sprite.png') repeat-x 0 0  !important; 
	}
	th.x_rs_th {
		background: url('furniture/sprite.png') repeat-x 0 0;  /* repeats so we can alter on hover */
		border: solid #7f7f7f;
		border-width: 1px 1px 1px 0;
		color: #444;
		cursor: pointer; 
		font-weight: bold !important;
		padding: 4px 30px 4px 4px !important;
	}
	.yui-dt-liner { padding: 4px 10px; }
	th.x_rs_th.restricted-data {
		background: #cc6666 url('furniture/th-bg-restricted.png') right top no-repeat; 
		color: #600;	
	}
    th.x_rs_th.sensitive-data {
        background: #330000 url('furniture/th-bg-sensitive.png') right top no-repeat;
        color: #ccc;
    }

		th.sorted, th.x_rs_th:hover {
			background: #ccc url('furniture/menubaritem_submenuindicator.png') right center no-repeat;
		}
		th.x_rs_th.restricted-data:hover {
			background-color: #d77;
		}
        th.x_rs_th.sensitive-data:hover {
            background-color: #611;
        }
	td.x_rs_td { 
		border: 1px solid #7F7F7F ;
		padding: 2px 6px 2px 4px ; 
	}
	td.x_rs_td a { font-weight: bold ; }
	tr.even > td.sorted { background-color: #d3deee ; }
	tr.odd > td.sorted { background-color: #e4efff ; }
	td.x_rs_th:first-child { border-width: 1px; }
	th.x_rs_th:first-child { border-width: 1px; }
	table.x_rs_t td.ext-content { width: 300px ; white-space: normal ; } /* use for large text blocks with wrapped text */

/*
 * ============  DATA DICTIONARY MODAL ====================
 */
 
.data-dictionary-display {}
	.data-dictionary-display label {
		color: #0168db;
		font-size: 10px; 
		text-transform: uppercase;
	}
	.data-dictionary-display h2 { 
		margin-top:0;
	}
		.attribute-shortname {
			display: block;
			font-size: 12px;
			font-weight: bold;
			margin-top: 3px;
		}
	.data-dictionary-access { 
		background: url('furniture/icon-lock-unlocked.png') left center no-repeat;
		display: inline-block;
		font-size: 12px;
		margin-top: 8px;
		padding-left: 20px;
	}
	.data-dictionary-access.restricted {
		background: url('furniture/icon-lock-tier1.png') left center no-repeat;
	}
    .data-dictionary-access.sensitive {
        background: url('furniture/icon-lock-tier2.png') left center no-repeat;
    }



/*
 * ============  YUI MODAL =============
 */

.yui-skin-sam .yui-panel { position: relative !important ;}

.yui-panel table { font-size: 12px; }

.yui-panel-container { font-size: 12px; line-height: 15px; padding: 0 1px ; }
.yui-panel { position: relative ; left: 0 ; top: 0 ; border-style: solid ; border-width: 1px 0 ; border-color: #808080 ; z-index: 1 ; }
.yui-panel .hd, 
.yui-panel .bd, 
.yui-panel .ft { border-style: solid ; border-width: 0 1px ; border-color: #808080 ; margin: 0 -1px ; }
.yui-panel .hd { border-bottom: solid 1px #ccc ; }
.yui-panel .bd, 
.yui-panel .ft { background-color: #F2F2F2 ; }
.yui-panel .hd { padding: 0 10px ; font-size: 12px ; line-height: 2 ; font-weight: bold ; color: #000 ; background: url('furniture/sprite.png') repeat-x 0 -200px  ; }
.yui-panel .bd { padding: 10px ; }
.yui-panel .ft { border-top: solid 1px #808080 ; padding: 5px 10px ; font-size: 77% ; }
.yui-dialog .ft { border-top: none ; padding: 0 10px 20px 10px ; font-size: 100% ; }
.yui-dialog .ft .button-group { display: block ; text-align: right ; }
.yui-dialog .ft button.default { font-weight: bold ; }
.yui-dialog .ft span.default { border-color: #304369 ; }
.yui-dialog .ft span.default .first-child { border-color: #304369 ; }
.yui-dialog .ft span.default button { background: #084fab url('furniture/btn1_30px.png') repeat-x center center  ; color: #fff ; outline: none ; }
.yui-dialog .ft span.yui-button-disabled { background-position: 0 -1500px ; border-color: #ccc ; }
.yui-dialog .ft span.yui-button-disabled .first-child { border-color: #ccc ; }
.yui-dialog .ft span.yui-button-disabled button { color: #a6a6a6 ; }
.yui-button.default { background: #084fab url('furniture/btn1_30px.png') repeat-x center center  ; color: #fff ; outline: none ; }

.yui-panel-container .container-close { background: url('furniture/sprite.png') no-repeat 0 -300px ; cursor: pointer ; overflow: hidden ; position: absolute ; top: 5px ; right: 6px ; width: 25px ; height: 15px ;  text-indent: -10000em ; text-decoration: none ;   }

.yui-panel-container .underlay { display: none !important ; right: -1px ; left: -1px ; }

.yui-panel-container.matte { padding: 9px 10px ; background-color: #fff ; }
.yui-panel-container.shadow { box-shadow: 0 5px 10px rgba(0,0,0,0.3) ; }
.yui-panel-container.shadow .underlay { position: absolute ; top: 30px ; left: -3px ; right: -3px ; bottom: -45px ; background-color: #000 ; opacity: .12 ; filter: alpha(opacity=12) ; z-index:-1; }

.yui-overlay, .yui-panel-container { visibility: hidden ; position: absolute ; /* top: -50px; left: -100px ; */ z-index: 2 ; }

.yui-resize { position: relative ; zoom: 1 ; z-index: 0 ; }
.yui-resize-wrap { zoom: 1 ; }
.yui-draggable { cursor: move ; }

.yui-resize .yui-resize-handle { position: absolute ; z-index: 1 ; font-size: 0 ; margin: 0 ; padding: 0 ; zoom: 1 ; height: 1px ; width: 1px ; }
.yui-resize .yui-resize-handle-br { height: 5px ; width: 5px ; bottom: -7px ; right: 2px ; cursor: se-resize ; z-index: 2 ; }
.yui-resize .yui-resize-handle-bl { height: 5px ; width: 5px ; bottom: 0 ; left: 0 ; cursor: sw-resize ; z-index: 2 ; zoom: 1 ; }
.yui-resize .yui-resize-handle-tl { height: 5px ; width: 5px ; top: 0 ; left: 0 ; cursor: nw-resize ; z-index: 2 ; zoom: 1 ; }
.yui-resize .yui-resize-handle-tr { height: 5px ; width: 5px ; top: 0 ; right: 0 ; cursor: ne-resize ; z-index: 2 ; zoom: 1 ; }
.yui-resize .yui-resize-handle-r { width: 5px ; height: 100% ; top: 0 ; right: 0 ; cursor: e-resize ; zoom: 1 ; }
.yui-resize .yui-resize-handle-l { height: 100% ; width: 5px ; top: 0 ; left: 0 ; cursor: w-resize ; zoom: 1 ; }
.yui-resize .yui-resize-handle-b { width: 100% ; height: 5px ; bottom: 0 ; right: 0 ; cursor: s-resize ; zoom: 1 ; }
.yui-resize .yui-resize-handle-t { width: 100% ; height: 5px ; top: 0 ; right: 0 ; cursor: n-resize ; zoom: 1 ; }

.yui-resize-proxy { position: absolute ; border: 1px dashed #000 ; visibility: hidden ; z-index: 1000 ; }

.yui-resize-hover .yui-resize-handle, .yui-resize-hidden .yui-resize-handle { opacity: 0 ; filter: alpha(opacity=0) ; }

.yui-resize-ghost { opacity: .5 ; filter: alpha(opacity=50) ; }

.yui-resize-knob .yui-resize-handle { height: 6px ; width: 6px ; }
.yui-resize-knob .yui-resize-handle-tr { right: -3px ; top: -3px ; }
.yui-resize-knob .yui-resize-handle-tl { left: -3px ; top: -3px ; }
.yui-resize-knob .yui-resize-handle-bl { left: -3px ; bottom: -3px ; }
.yui-resize-knob .yui-resize-handle-br { right: -3px ; bottom: -3px ; }
.yui-resize-knob .yui-resize-handle-t { left: 45% ; top: -3px ; }
.yui-resize-knob .yui-resize-handle-r { right: -3px ; top: 45% ; }
.yui-resize-knob .yui-resize-handle-l { left: -3px ; top: 45% ; }
.yui-resize-knob .yui-resize-handle-b { left: 45% ; bottom: -3px ; }

.yui-resize-status { position: absolute ; top: -999px ; left: -999px ; padding: 2px ; font-size: 80% ; display: none ; zoom: 1 ; z-index: 9999 ; }
.yui-resize-status strong, .yui-resize-status em { font-weight: normal ; font-style: normal ; padding: 1px ; zoom: 1 ; }

.yui-resize .yui-resize-handle { background-color: #F2F2F2 ; zoom: 1 ; }
.yui-resize .yui-resize-handle-active { background-color: #7D98B8 ; zoom: 1 ; }
.yui-resize .yui-resize-handle-l, .yui-resize .yui-resize-handle-r, .yui-resize .yui-resize-handle-l-active, .yui-resize .yui-resize-handle-r-active { height: 100% ; zoom: 1 ; }

.yui-resize-knob .yui-resize-handle { border: 1px solid #808080 ; }
.yui-resize-hover .yui-resize-handle-active { opacity: 1 ; filter: alpha(opacity=100) ; }
.yui-resize-proxy { border: 1px dashed #426FD9 ; }
.yui-resize-status { border: 1px solid #A6982B ; border-top: 1px solid #D4C237 ; background-color: #FFEE69 ; color: #000 ; }

.yui-resize-status strong, .yui-resize-status em { float: left ; display: block ; clear: both ; padding: 1px ; text-align: center ; }
.yui-resize .yui-resize-handle-inner-r, 
.yui-resize .yui-resize-handle-inner-l { background: transparent url('furniture/layout_sprite.png') no-repeat 0 -5px  ; height: 16px ; width: 5px ; position: absolute ; top: 45% ; }
.yui-resize .yui-resize-handle-inner-t, 
.yui-resize .yui-resize-handle-inner-b { background: transparent url('furniture/layout_sprite.png') no-repeat -20px 0  ; height: 5px ; width: 16px ; position: absolute ; left: 50% ; }
.yui-resize .yui-resize-handle-br { background-image: url('furniture/layout_sprite.png') ; background-repeat: no-repeat ; background-position: -22px -62px ; }
.yui-resize .yui-resize-handle-tr { background-image: url('furniture/layout_sprite.png') ; background-repeat: no-repeat ; background-position: -22px -42px ; }
.yui-resize .yui-resize-handle-tl { background-image: url('furniture/layout_sprite.png') ; background-repeat: no-repeat ; background-position: -22px -82px ; }
.yui-resize .yui-resize-handle-bl { background-image: url('furniture/layout_sprite.png') ; background-repeat: no-repeat ; background-position: -22px -23px ; }

.yui-resize-knob .yui-resize-handle-t, .yui-resize-knob .yui-resize-handle-r, .yui-resize-knob .yui-resize-handle-b, .yui-resize-knob .yui-resize-handle-l, .yui-resize-knob .yui-resize-handle-tl, .yui-resize-knob .yui-resize-handle-tr, .yui-resize-knob .yui-resize-handle-bl, .yui-resize-knob .yui-resize-handle-br, .yui-resize-knob .yui-resize-handle-inner-t, .yui-resize-knob .yui-resize-handle-inner-r, .yui-resize-knob .yui-resize-handle-inner-b, .yui-resize-knob .yui-resize-handle-inner-l, .yui-resize-knob .yui-resize-handle-inner-tl, .yui-resize-knob .yui-resize-handle-inner-tr, .yui-resize-knob .yui-resize-handle-inner-bl, .yui-resize-knob .yui-resize-handle-inner-br { background-image: none ; }

.yui-resize-knob .yui-resize-handle-l, .yui-resize-knob .yui-resize-handle-r, .yui-resize-knob .yui-resize-handle-l-active, .yui-resize-knob .yui-resize-handle-r-active { height: 6px ; width: 6px ; }

.yui-resize-textarea .yui-resize-handle-r { right: -8px ; }
.yui-resize-textarea .yui-resize-handle-b { bottom: -8px ; }
.yui-resize-textarea .yui-resize-handle-br { right: -8px ; bottom: -8px ; }

/*
 * ================== YUI TREE VIEW ==================
 */

table.ygtvtable { margin-bottom: 0 ; border: none ; border-collapse: collapse ; }
table.ygtvtable .ygtvlabel { font-size: 11px !important ; }
td.ygtvcell { border: none ; padding: 0 ; }
a.ygtvspacer { text-decoration: none ; outline-style: none ; display: block ; }

.ygtvtn, .ygtvtm, .ygtvtmh, .ygtvtmhh, .ygtvtp, .ygtvtph, .ygtvtphh, .ygtvln, .ygtvlm, .ygtvlmh, .ygtvlmhh, .ygtvlp, .ygtvlph, .ygtvlphh, .ygtvdepthcell, .ygtvok, .ygtvcancel
	{ width: 18px ; height: 22px ; background: url(furniture/treeview-sprite.gif) no-repeat ; }
	.ygtvtn { background-position: 0 -5600px ; }
	.ygtvtm { background-position:  0 -4000px ; }
	.ygtvtmh, .ygtvtmhh { background-position:  0 -4800px; }
	.ygtvtp { background-position:  0 -6400px; }
	.ygtvtph, .ygtvtphh { background-position:  0 -7200px; }
	.ygtvln { background-position:  0 -1600px; }
	.ygtvlm { background-position:  0 0; }
	.ygtvlmh, .ygtvlmhh { background-position:  0 -800px; }
	.ygtvlp { background-position:  0 -2400px; }
	.ygtvlph, .ygtvlphh { background-position:  0 -3200px; }
	.ygtvdepthcell { background-position:  0 -8000px; }
	.ygtvok { background-position: 0 -8800px ; }
	.ygtvok:hover { background-position: 0 -8844px ; }
	.ygtvcancel { background-position: 0 -8822px ; }
	.ygtvcancel:hover { background-position: 0 -8866px ; }
	
.ygtvloading { width: 18px ; height: 22px ; background: url(furniture/treeview-loading.gif) 0 0 no-repeat ; }
.ygtvblankdepthcell { width: 18px ; height: 22px ; }

* html .ygtvchildren { height: 2% ; }
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { margin-left: 2px ; text-decoration: none ; background-color: white ; cursor: pointer ; }
.ygtvcontent { cursor: default ; }
.ygtvspacer { height: 22px ; width: 18px ; }
.ygtvfocus { background-color: #c0e0e0 ; border: none ; }
.ygtvfocus .ygtvlabel, .ygtvfocus .ygtvlabel:link, .ygtvfocus .ygtvlabel:visited, .ygtvfocus .ygtvlabel:hover { background-color: #c0e0e0 ; }
.ygtvfocus a { outline-style: none ; }
.ygtv-label-editor { background-color: #f2f2f2 ; border: 1px solid silver ; position: absolute ; display: none ; overflow: hidden ; margin: auto ; z-index: 9000 ; }
.ygtv-edit-TextNode { width: 190px ; }
.ygtv-edit-TextNode .ygtvcancel, .ygtv-edit-TextNode .ygtvok { border: none ; }
.ygtv-edit-TextNode .ygtv-button-container { float: right ; }
.ygtv-edit-TextNode .ygtv-input input { width: 140px ; }
.ygtv-edit-DateNode .ygtvcancel { border: none ; }
.ygtv-edit-DateNode .ygtvok { display: none ; }
.ygtv-edit-DateNode .ygtv-button-container { text-align: right ; margin: auto ; }
.ygtv-highlight .ygtv-highlight1, .ygtv-highlight .ygtv-highlight1 .ygtvlabel { background-color: blue ; color: white ; }
.ygtv-highlight .ygtv-highlight2, .ygtv-highlight .ygtv-highlight2 .ygtvlabel { background-color: silver ; }
.ygtv-highlight .ygtv-highlight0 .ygtvfocus .ygtvlabel, .ygtv-highlight .ygtv-highlight1 .ygtvfocus .ygtvlabel, .ygtv-highlight .ygtv-highlight2 .ygtvfocus .ygtvlabel { background-color: #c0e0e0 ; }
.ygtv-highlight .ygtvcontent { padding-right: 1em ; }
.ygtv-checkbox .ygtv-highlight0 .ygtvcontent { padding-left: 1em ; background: url(check0.gif) no-repeat ; }
.ygtv-checkbox .ygtv-highlight0 .ygtvfocus.ygtvcontent, .ygtv-checkbox .ygtv-highlight1 .ygtvfocus.ygtvcontent, .ygtv-checkbox .ygtv-highlight2 .ygtvfocus.ygtvcontent { background-color: #c0e0e0 ; }
.ygtvcheck0, .ygtv-checkbox .ygtv-highlight0 .ygtvcontent { /* padding-left: 1em ; */ background: url(/scripts/yui/build/treeview/assets/img/check/check0.gif) 0 0 no-repeat }
.ygtvcheck1, .ygtv-checkbox .ygtv-highlight1 .ygtvcontent { /* padding-left: 1em ; */ background: url(/scripts/yui/build/treeview/assets/img/check/check1.gif) 0 0 no-repeat }
.ygtvcheck2, .ygtv-checkbox .ygtv-highlight2 .ygtvcontent { /* padding-left: 1em ; */ background: url(/scripts/yui/build/treeview/assets/img/check/check2.gif) 0 0 no-repeat }

/*
 * ==================== SUBJECT PAGE ==================
 */

.report-info-block { border-top: 1px solid #e0e0e0; margin: 16px 0; padding:16px 0; }

/*
 * ============  EXPERIMENT TABLES (SUBJECT & SESSION PAGES) ====================
 */

/* #expts_header .alts { float:right;position:relative;bottom:4px; } */
	.report-info-block table { border-collapse: collapse; border-bottom: 2px solid #ccc; border-top: 1px solid #e7e7e7; margin: 1em 0; width: 980px;  } 
	.report-info-block tr {  } 
	.report-info-block tr:nth-child(2n+2) { background-color: #f7f7f7; } 
	.report-info-block th { background-color: #f0f0f0; border-bottom: 1px solid #ccc; text-align: left; }
	.report-info-block th, 
	.report-info-block td { padding: 6px !important; }
	.report-info-block table ul,
	.report-info-block table li { margin: 0 inherit; }
	.report-info-block p, .report-info-block h3 { margin-bottom: 1em; padding: 0 4px; }
	
	.report-info-block .expts_header { margin: 1.5em 0 0; padding: 9px 4px 0; } 
	#restricted-data .expts_header { background: url('furniture/restricted-bg-980px.png') right center no-repeat; height: 20px; margin-bottom: -12px; padding-bottom: 12px; }
    #sensitive-data .expts_header { background: url('furniture/sensitive-bg-980px.png') right center no-repeat; height: 20px; }
#expts_link_legend { min-width: 505px ; margin-bottom: 10px ; }
#expts_link_legend #expts_header { display: inline-block ; float: left ; min-width: 220px ; padding-left: 5px ; font-size: 13px ; font-weight: bold ; }

/*
 * ================ XMODAL TABLE =========================
 */

	.xmodal .inner table { border-collapse: collapse; border-bottom: 2px solid #ccc; border-top: 1px solid #e7e7e7; margin: 1em 0; width: 100%;  } 
	.xmodal .inner tr {  } 
	.xmodal .inner tr:nth-child(2n+2) { background-color: #f7f7f7; } 
	.xmodal .inner th { background-color: #f0f0f0; border-bottom: 1px solid #ccc; text-align: left; }
	.xmodal .inner th, 
	.xmodal .inner td { padding: 6px !important; }
	.xmodal .inner table ul,
	.xmodal .inner table li { margin: 0 inherit; }



/*
 * ================ XMODAL MESSAGE =========================
 */

.xmodal .hcp-msg {
    background: transparent url('../images/logo-icon.png') top left no-repeat;
    padding-left: 105px;
    min-height: 65px;
    font-size: 13px;
}


/*
 * ================ XMODAL AWS Styles =========================
 */

div.xmodal.v1.aws .body .inner { 
	background-image: url(icons/icon-AWS-48.png); 
	background-position: 20px 20px; 
	background-repeat: no-repeat;
	background-size: 48px 48px;
	padding-left: 88px; 
} 

.div.xmodal.v1.aws-success .body .inner { 
	background-image: url(icons/icon-AWS-success-48.png); 
} 

div.xmodal.v1.aws-failure .body .inner { 
	background-image: url(icons/icon-AWS-fail-48.png);
} 

/*
 * ====================== XNAT SCAN TABLE ===============================
 */
 

#total_dicom_files { font-size: 12px; font-weight: normal; }
.scanTable-container { 
	max-width: 980px;
	margin-bottom: 30px;
	overflow-x: visible;
	overflow-y: visible;
}
table.scanTable {}
	.scanTable td, .scanTable th { padding: 6px !important ; line-height: 1 ; vertical-align: middle ; }
	th.underscore { 
		background-color: #e7e7e7;
		border-bottom: 2px solid #999; 
		padding-right: 20px;
	}
	.scanTable tr {
		background-color: #fff; /* necessary reset of style set in report-info-block */
		border-bottom: 1px solid #e0e0e0;
	}
	.scanTable tr:nth-child(4n), .scanTable tr:nth-child(4n+1) {
		background-color: #f7f7f7;
	}
	td.quality-usable { color:green; font-weight:bold; }
	td.quality-questionable { color:orange; font-weight:bold; }
	td.quality-unusable { color:red; font-weight:bold; }
	
table.scanDetails, table.scanTable table {}
	.scanDetails tr, table.scanTable table tr {
		background-color: transparent !important;
	}

/*
 * ===================== XNAT.css DEFAULT LAYOUT CONTAINER (search results) ==================
 */

div.container { border: 1px solid #ccc ; /* width:300px;  */ }
div.mainContainer { border: 1px solid #ccc ; /* width:300px;  */ }
div.containerTitle { border-bottom: 1px solid #ccc; font-size: 13px ; font-weight: 500 ; line-height: 23px ; padding-left: 7px !important ; padding-right: 7px !important ; }
div.containerBody { overflow: auto ; font-size: 12px ; line-height: 15px ; padding: 0 ; }
div.containerBody.padded { padding: 8px; } 
div.containerBody a { font-weight: bold ; }
div.containerBody > div > div { padding: 5px 10px 9px ; font-size: 12px ; }
div.containerBody #min_expt_list {  }
div.containerBody #min_expt_list td { padding: 3px 6px ; }
div.containerBody h3 { font-size: 13px ; }
div.mainContainerBody { overflow: auto ; font-size: 11px ; line-height: 13px ; padding: 3px ; }
div.containerItem { /* font-size: 11px ; line-height: 13px ; */ padding: /* 3px 0 0 3px */ 8px 12px 0 12px ; }

#searchResults { 
	display: block;
	overflow: hidden;
}
.resultSet { 
	float: left;
	margin: 40px 0 0 40px; 
	width: 700px; 
} 
.resultSet ul li { 
	font-size: 12px; 
	margin-bottom: 0;
}
.resultSet ul.tooLarge { 
	border: 1px solid #ccc; 
	height: 120px; 
	overflow-y: auto; 
	padding-top: 3px;
	padding-bottom: 3px;
} 
.resultSet ul.tooLarge:before { content: "Too many results. Please scroll within list to view."; font-style:italic; } 


/*
* ====================== xMenu customizations =======================
*/

/* fix margin of xMenus - esp. in 'Open Custom Group' menu */
div.xmenu ul li a { margin: 0 ; }
#custom_group_selector_xmenu ul.xmenu { right: -1px ; }
#group_selector_xmenu ul.xmenu { left: -12px ; }
#csv_selector_xmenu ul.xmenu { left: -12px ; }




/*
 * ================================== PACKAGE DOWNLOADER ==================
 */
 
/* located in /xnat/style/downloadPackages.css */

/*
 * Fix to prevent dashboard modals from having a lot of whitespace at the top, enabling all the text to fit.
 */
.body.content.scroll h3 { font-weight: normal; margin: 0 0.25em !important; }
