/***********************************************/
/* HTML tag styles                             */
/***********************************************/

body { margin: 0 ; padding: 0 ; font-size: 12px ; line-height: 15px ; /* font-weight: 400 ; */ font-family: Arial, Helvetica, sans-serif ; background-color: white ; }

th { /* font-size: 11px ; line-height: 13px ; */ /* font-weight: 700 ; */ margin: 0 ; border-top: none ; border-right: none ; border-left: none ; border-collapse: collapse ; padding: 0 4px ; }

h2 { line-height: 24px ; }

h3 { line-height: 20px ; margin: 0 ; }

h4 { line-height: 18px ; }

p { font-size: 12px ; line-height: 15px ; margin: 0 ; }

td { /* padding-right: 4px ; padding-left: 4px ; */ /* font-size: 10px ; line-height: 14px ; font-family: Arial, Helvetica, sans-serif ; */ }

a.plainText { text-decoration: none ; /* font-weight: 100 ; font-size: 10px ; */ /* font-family: Arial, Helvetica, sans-serif ; */ color: black ; }

a { cursor: pointer ; text-decoration: none ; /* font-weight: 700 ; */ /* font-size: 11px ; */ /* font-family: Arial, Helvetica, sans-serif ; */ color: #039 ; }

img { border: none ; }

/* form { font-size: 12px ; } */

/* .withColor { background-color: #ffc ; } */

.withColor { background-color: /* #084FAB */ #2d69b8 ; color: #fff ; }

.withThinBorder { border-width: 1px solid #aaa ; }

/*input { font-size: 11px ; line-height: 13px ; font-weight: 500 ; font-family: Arial, Helvetica, sans-serif ; }*/

input[type="text"],
input[type="password"],
input[type="number"] { padding: 4px 5px 3px 5px ; border: 1px solid #b0b0b0; }
textarea { padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border: 1px solid #b0b0b0; }

select { /* font-size: 12px ; line-height: 13px ; font-weight: 500 ; font-family: Arial, Helvetica, sans-serif ; */ }

div.error { width: 500px ; background-color: #f9c ; border-width: 1px ; border-style: solid ; font-size: 14px ; line-height: 16px ; font-weight: 500 ; overflow: auto ; padding-top: 5px ; padding-bottom: 5px ; padding-left: 5px ; padding-right: 5px ; text-align: left ; clear: left ; }

div.warning { width: 500px ; background-color: #fcc ; border-width: 1px ; border-style: solid ; font-size: 14px ; line-height: 16px ; font-weight: 500 ; overflow: auto ; padding: 5px ; text-align: left ; clear: left ; }

div.note div.message { width: 500px ; background-color: #cff ; border-width: 1px ; border-style: solid ; font-size: 14px ; line-height: 16px ; font-weight: 500 ; overflow: auto ; padding-top: 5px ; padding-bottom: 5px ; padding-left: 5px ; padding-right: 5px ; text-align: left ; clear: left ; }

.text { font-size: 11px ; line-height: 13px ; font-family: Arial, Helvetica, sans-serif ; font-weight: 400 ; }

div.link { cursor: pointer ; text-decoration: none ; font-size: 11px ; font-family: Arial, Helvetica, sans-serif ; color: #039 ; }

div.edit_title { font-size: 16px ; line-height: 18px ; }

div.edit_header1 { font-size: 14px ; line-height: 18px ; }

div.edit_header2 { font-size: 13px ; line-height: 16px ; }

div.edit_header3 { font-size: 12px ; line-height: 15px ; }

div.spacer { line-height: 13px ; }

.actionsBox { background-color: #dcdcdc ; }

.quarantine { background-color: #fc3 ; }

#loginBox { top: 2px ; position: absolute ; text-align: right ; right: 5px ; }

#menu1 { position: relative ; top: 2px ; left: 5px ; width: 99% ; height: 28px ; border-bottom: 1px solid #aaa ; }

div.option { /* font-weight: 800 ; */ }