#tabbedList { margin: 10px ; }
#tabbedList li a { height: 20px ; text-decoration: none ; }
#tabbedList li a:link, #tabbedList li a:visited { color: #000 ; display: block ; padding: 8px 0 0 10px ; }
#tabbedList li a:hover { background-color: #fff ; padding: 8px 0 0 10px ; }
td.leftBar { width: 170px ; }
/* hide leftBar if it decides to show up on a popup page */
body.popup td.leftBar { width: 0; padding: 0; }
body.popup td.leftBar > div { display: none; }
ul.menu { list-style-type: none ; text-decoration: none ; margin: 0 ; padding: 0 ; }
ul.menu li { float: left ; position: relative ; margin: 0 ; padding: 2px 6px ; }
ul.subMenu { margin: 0 ; padding: 1 ; padding-top: 3 ; display: none ; position: absolute ; text-decoration: none ; }
ul.subMenu li { list-style-type: none ; margin: 0 ; padding: 4px 8px ; }
ul.topMenu { background-color: #fff ; height: 20px ; text-align: center ; font-size: 11px ; color: #4D4D4D ; z-index: 999 ; }
ul.topMenu li { border: 0 solid #aaa ; width: 124px ; }
li.topMenuHover { background-color: #fff ; }
ul.topSubMenu { text-align: center ; color: #4D4D4D ; z-index: 999 ; }
ul.topSubMenu li { border: 1px solid #aaa ; font-size: 11px ; }
li.topSubMenuHover { }
div.container { border: 1px solid #ccc ; /* width:300px;  */ }
div.mainContainer { border: 1px solid #ccc ; /* width:300px;  */ }
div.containerTitle { border-bottom: 1px solid #ccc; font-size: 13px ; font-weight: 500 ; line-height: 23px ; padding-left: 7px !important ; padding-right: 7px !important ; }
div.containerBody { overflow: auto ; font-size: 12px ; line-height: 15px ; padding: 0 ; }
div.containerBody a { font-weight: bold ; }
div.containerBody > div > div { padding: 5px 10px 9px ; font-size: 12px ; }
div.containerBody #min_expt_list {  }
div.containerBody #min_expt_list td { padding: 3px 6px ; }
div.containerBody h3 { margin: 2px 0 5px ; font-size: 13px ; line-height: 15px ; }
div.mainContainerBody { overflow: auto ; font-size: 11px ; line-height: 13px ; padding: 3px ; }
div.containerItem { /* font-size: 11px ; line-height: 13px ; */ padding: /* 3px 0 0 3px */ 8px 12px 0 12px ; }
div.projectIndex { font-size: 11px ; line-height: 13px ; padding: 3px ; border-top: 1px solid #aaa ; }
.horizontalMenu { font-size: 13px ; line-height: 15px ; position: relative ; padding: 3px ; }
.horizontalMenuItem { font-size: 11px ; line-height: 13px ; bottom: 0 ; display: inline ; padding-right: 3px ; }
ul.containerMenu { font-size: 11px ; padding-right: 0 ; }
ul.containerMenu li { float: right ; padding-right: 0 ; }
ul.containerSubMenu { background-color: #fff ; border: 1px solid #aaa ; }
ul.containerSubMenu li { float: none ; padding-right: 0 ; }
div.titleBarLink { text-decoration: none ; font-size: 11px ; color: #039 ; cursor: pointer ; display: inline ; height: 16px ; border-left: 1px solid #aaa ; border-right: 1px solid #aaa ; border-bottom: 1px solid #aaa ; padding-left: 5px ; padding-right: 5px ; margin-left: 0 ; margin-right: 0 ; background-color: #ffd ; }
div.titleBarLink:hover { background-color: #dedede ; }
div.titleBarText { text-decoration: none ; font-size: 11px ; color: black ; display: inline ; height: 16px ; border-left: 1px solid #aaa ; border-right: 1px solid #aaa ; border-bottom: 1px solid #aaa ; padding-left: 5px ; padding-right: 5px ; background-color: #fff ; margin-left: 0 ; margin-right: 0 ; }
div.titleBarGrey { text-decoration: none ; font-weight: 500 ; font-size: 11px ; color: black ; display: inline ; height: 16px ; border-left: 1px solid #aaa ; border-right: 1px solid #aaa ; border-bottom: 1px solid #aaa ; padding-left: 5px ; padding-right: 5px ; margin-left: 0 ; margin-right: 0 ; background-color: #fff ; }
font.titleBarComment { text-decoration: none ; font-weight: 500 ; font-size: 11px ; color: black ; }


div.projectPrimary { /* font-weight: 700 ; */ }
td.highlighted { background-color: #ffc ; border: 1px solid #aaa ; }
td.results { white-space: nowrap ; }
div.paging { text-align: center ; font-size: 11px ; z-index: 999 ; }
div.pagingTitle { float: left ; position: relative ; }
table.paging { line-height: 11px ; margin: 0 ; padding: 0 ; font-size: 11px ; }
tbody.paging { line-height: 11px ; margin: 0 ; padding: 0 ; font-size: 11px ; }
tr.paging { line-height: 11px ; margin: 0 ; padding: 0 ; font-size: 11px ; }
td.paging { line-height: 11px ; margin: 0 ; font-size: 11px ; }
ul.paging { text-decoration: none ; margin: 0 ; padding-left: 10px ; }
li.paging { list-style-type: none ; float: left ; position: relative ; margin: 0 ; padding-left: 6px ; padding-right: 6px ; font-size: 11px ; }
a.paging { cursor: pointer ; display: block ; text-decoration: none ; color: #039 ; }
div.optionsTab { background-color: #fff ; border: 1px solid #aaa ; white-space: nowrap ; padding: 3px ; }
div.quickSearch { padding: 2px ; border: 1px solid #e8e8e8 ; white-space: nowrap ; width: 180px ; }








/* yellow text = NOPE */
font[color="yellow"] { color: #888; }

/* universal button style with CSS gradient */
.button { display: inline-block ; margin: 1px ; padding: 2px 2px 4px ; border: 1px solid #000 ; border-radius: 5px ; -moz-border-radius: 5px ; -webkit-border-radius: 5px ; -khtml-border-radius: 5px ; /* font-family: Verdana, Geneva, sans-serif ; */ font-weight: bold ; text-align: center ; background: #999 ; background: -moz-linear-gradient(top, #ccc 0%, #999 25%) ; /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc), color-stop(25%,#999)) ; /* Chrome,Safari4+ */ background: linear-gradient(top, #ccc 0%, #999 25%) ; /* W3C */ color: #fff ; }

/* width set for QC buttons */
.QC { width: 4em ; }

/* styles set for QC results */
.good { background: #390 ; background: -moz-linear-gradient(top, #6c3 0%, #390 25%) ; /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c3), color-stop(25%,#390)) ; /* Chrome,Safari4+ */ background: linear-gradient(top, #6c3 0%, #390 25%) ; /* W3C*/ }
.acceptable { background: #c90 ; background: -moz-linear-gradient(top, #fc3 0%, #c90 25%) ; /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc3), color-stop(25%,#c90)) ; /* Chrome,Safari4+ */ background: linear-gradient(top, #fc3 0%, #c90 25%) ; /* W3C*/ }
.bad { background: #900 ; background: -moz-linear-gradient(top, #c33 0%, #900 25%) ; /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c33), color-stop(25%,#900)) ; /* Chrome,Safari4+ */ background: linear-gradient(top, #c33 0%, #900 25%) ; /* W3C*/ }

/* OPTIONAL HOVER STATES */
.button:hover { background: #ccc }
.good:hover,
.acceptable:hover,
.bad:hover { background: #ccc ; color: #999 ; }

/* table styling for a ruled table */
table.ruled { background: #eee ; border: 1px solid #000 ; font-family: Verdana, Geneva, sans-serif ; }
table.ruled th { background: #ddd ; border-bottom: 1px solid #000 ; text-align: left ; }
table.ruled th,
table.ruled td { border-left: 1px solid #000 ; }
table.ruled th:first-child,
table.ruled td:first-child { border-left: none ; }
table.ruled tr:nth-child(2n+1) { background: #fff ; }
.ic, .ic_spacer { display: none ; visibility: hidden ; }

.underscore { border-bottom: 2px solid #f93 ; padding-bottom: 1px ; padding-right: 20px ; padding-left: 5px ; }

.hidden { display: none !important; visibility: hidden !important; opacity: 0 !important; }
.mono { font-family: Courier, monospace; }

/* ALERTS & MESSAGES TO USERS */
div.alert,
div.error,
div.justification,
div.message,
div.info,
div.note,
div.success,
div.warning {
    background-color: #f7f7f7;
    background-size: 16px 16px;
    background-position: 8px 9px;
    background-image: url('icons/icon-check-blue-48.png');
    background-repeat: no-repeat;
    border: #ccc solid;
    border-width: 1px;
    color: #444;
    font-size: 12px;
    padding: 10px 10px 10px 32px;
    position: relative;
}
div.alert,
div.warning { background-color: #ffc; background-image: url(icons/icon-alert-48.png);}
div.error { background-color: #ffcfcf; background-image: url(icons/icon-error-48.png);}
div.message,
div.info { background-color: #e4efff; background-image: url(icons/icon-info-48.png);}
div.success { background-color: #dbffc9; background-image: url(icons/icon-check-green-48.png); }
div.justification { background-image: url(icons/icon-check-blue-48.png); }

div.message.loginPage,
div.error.loginPage,
div.message.loginPage,
div.note.loginPage { top: -40px; }

/* smaller messages */
div.alert.small,
div.warning.small,
div.error.small,
div.message.small,
div.info.small,
div.success.small,
div.justification.small {
    padding-left: 28px;
    background-size: 12px 12px;
    background-position: 9px 11px;
    font-size: 11px;
    line-height: 14px;
}

/* messages without the icon */
div.alert.no-icon,
div.error.no-icon,
div.justification.no-icon,
div.message.no-icon,
div.info.no-icon,
div.note.no-icon,
div.success.no-icon,
div.warning.no-icon {
    background-image: none;
    padding: 10px 12px;
}

#header div.alert,
#header div.error,
#header div.justification,
#header div.message,
#header div.note,
#header div.success,
#header div.warning { background-image: none; border-width: 1px 0; font-size: 11px; margin: 0 -3px 0 -27px; padding: 6px; }

#header div span { padding: 0 4px; }
#header .close-notification:hover { cursor: pointer; }

.warning-inbody {
    background: url('icons/icon-alert-48.png') 10px center no-repeat #ffa;
    border: 1px solid #cc8;
    font-size: 16px;
    padding: 10px 10px 10px 70px;
}

#warning_bar { width: 520px ; height: 20px ; position: absolute ; left: 0 ; top: 0 ; line-height: 20px ; vertical-align: middle ; font-size: 11px ; background: #ffc ; color: #444 ; border: 1px solid #ee9 ; border-left: none ; }
#warning_bar > span { padding: 0 4px ; }
#warning_bar .close:hover { cursor: pointer ; }
#warning_bar .tip_text { border: none ; }
#warning_bar .tip_text i { border-bottom: 1px dotted #888 ; font-style: normal ; }
#warning_bar .tip_text .tip { left: 20px ; top: 25px ; width: 250px ; padding: 10px 20px ; line-height: 15px ; background: #ffc ; border: 1px solid #ee9 ; }

#aspera_messagebar { /* positioned dynamically above #layout_content */
    background-color: #fff;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative; left: -1px;
    width: 1000px;
}
#aspera_messagebar .note,
#aspera_messagebar .warning { font-size: 14px; line-height: 18px; top: 0; left: 0; background-image: none; padding-left: 20px; padding-right: 20px; }
#aspera_messagebar .note { background-color: #e7e7e7; border-top-color: #c7c7c7; }
.note .warning-inset,
.warning .warning-inset { color: #c60; display: inline-block; font-weight: bold; margin-top: 18px; vertical-align: top; width: 210px; }
.note .message-inset,
.warning .message-inset { border-left: 1px solid #999; display: inline-block; padding-left: 30px; width: 700px; }

table.dark { background-color: /* #DCDCDC */ #f0f0f0 ; border: 1px solid #ccc !important ; color: #000 ; font-size: 12px ; font-weight: bold ; }
table.dark th, table.dark td { padding: 4px 8px ; }

/* new header and body styles */


img { /* vertical-align: bottom ; */ }
.clear { height: 0 ; clear: both ; }




#page_wrapper { padding: 28px /* 20px */ ; }
#layout_content.main { min-width: 728px ; }
.ie7 #layout_content.main { width: 728px ; overflow: auto ; }
#wrapper_table { min-width: 960px ; }
.ie7 #wrapper_table,
.ie8 #wrapper_table { width: 960px ; }


/* user bar stuff */
#user_bar { position: absolute ; left: 0 ; top: 0 ; width: 960px ; height: 28px ; font-size: 11px ; line-height: 28px ; vertical-align: middle ; background: #dadada url('../images/user_bar_bkgd.png') left top repeat-x ; }
#last_login { display: block ; float: left ; padding-left: 1em ; color: #666 ; white-space: nowrap ; }






#header_logo { position: relative ; display:inline-block; max-width:175px; left: 10px ; bottom: 0 ; }


/* .ie #searchValue { position: relative ; top: 1px ; } */



#advanced_btn { color: #333 ; border: 1px solid #aaa; }
#DefaultTopTR td { padding: 0 ; }
#main_nav,
#topMenuBar { position: absolute !important ; right: 0 ; bottom: 0 ; height: 24px ; width: 600px ; }
#main_nav.hidden { overflow: hidden ; }

/* footer graphic */
#xnat_power { /* width: 100% ; */ margin: 75px 20px 20px 30px ; border-top: 1px solid #ccc ; }
#xnat_power a { float: right ; display: inline-block ; margin-top: 10px ; }

/* overrides to make this thing look better? */
.yui-skin-sam .yui-panel-container { padding: 0 1px ; /* z-index: 999999991 !important; */ }
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel { height: 26px ; line-height: 26px ; padding-left: 15px ; padding-right: 27px ; vertical-align: middle ; font-weight: bold ; font-size: 12px ; }
.yui-skin-sam .yui-button button, .yui-skin-sam .yui-button a, .yui-skin-sam .yui-button a:visited { color: #000000 ; font-size: 12px ; height: 22px ; line-height: 16px ; padding: 0 12px ; /* vertical-align: middle ; */ }
/*.yui-skin-sam .yui-dialog .ft { height: auto !important ; padding: 14px ; }*/
.yui-skin-sam .yui-button { margin: auto 4px ; }

/*
.yui-skin-sam .yui-dialog .ft span.default button { color: #FFFFFF ; border: none ; outline: none ; }
.yui-skin-sam .yui-dialog .ft span.default button:active { border: none ; outline: none ; }
a, a:active, button, button:active, *:active { outline: none ; border: none ; }
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel { padding-right: 24px; padding-left: 12px ; }
*/



div.edit_header1, div.edit_title {
    font-size: 15px;
    font-weight: bold;
    line-height: 16px;
    padding-bottom: 2px ;
    margin-bottom: 5px ;
    min-width: 470px ;
}

div.edit_title { margin-bottom: 10px; margin-left: 8px; }
.withColor.withThinBorder { color: #000 ; background: #f0f0f0 ; border: 1px solid #ccc ; }
.yui-skin-sam .yui-navset .yui-content, .yui-skin-sam .yui-navset .yui-navset-top .yui-content { border-color: #ccc; }
.yui-skin-sam #actionsMenu { height: auto !important ; overflow: visible !important ; }


input, button, input[type="submit"] { font-family: Arial, Helvetica, sans-serif ; font-size: inherit ; }
button, input[type="submit"], input[type="button"] {  }

input.date_mask { font-family: Courier, monospace ; }

td.highlighted { background-color: #f0f0f0 ; border: 1px solid #d8d8d8 ; }






/*
#layout_content, #layout_content .yui-content { width: 700px ; }
#layout_content .yui-nav { width: 714px ; }
*/

div.containerTitle.withColor { font-weight: bold ; background: #084FAB ; }

.leftBar a.ygtvlabel { text-decoration: underline ; }

#breadcrumbs { margin: 8px; }
#breadcrumbs a { text-decoration: underline; }
#breadcrumbs a.nolink { color: inherit; text-decoration: none; }
#breadcrumbs a.nolink:hover { cursor: default; }
#breadcrumbs a.last { font-weight: bold; }

.highlight-row:hover { background: #e5f2ff; }
.off-canvas, .off-screen, .offscreen, .html-template { position: fixed; left: -9999px; top: -9999px; }

/* //////////  BRAND-SPANKING NEW NAV BAR!  ////////// */
#main_nav { position: absolute ; right: 0 ; bottom: 0 ; height: 24px ; width: /* 578px */ /* 525px */ 728px ; color: #333 ; background: url('images/nav_bkgd.png') center center repeat-x ;    font-family: Arial, Helvetica, sans-serif ; font-size: 12px ; font-weight: bold ; border: 1px solid #c0c0c0 ; }
#main_nav a { color: #333 ; text-decoration: none ; }
#main_nav a:hover { cursor: pointer !important ; }
#main_nav > ul {  }
#main_nav ul { margin: 0 ; padding: 0 ; list-style: none ; background: #f8f8f8 ; }
#main_nav > ul > li { border-right: 1px solid #c0c0c0 ; }
#main_nav li { float: left ; display: block ; position: relative ; }
#main_nav li:hover { background: url('../images/nav_bkgd_hover.png') center center repeat-x ; }
#main_nav li a { display: block ; padding: 0 24px 0 12px ; line-height: 24px ; vertical-align: middle ; white-space: nowrap ;
    background-position: right center ; background-repeat: no-repeat ; color: #000 ; }
#main_nav li:hover > a { color: #000 ; }
#main_nav li a.more { background: url('../images/nav_more.png') right center no-repeat ; }
/* second-level menus */
#main_nav li > ul { display: none ; position: absolute ; left: 0 ; top: 25px ; margin-top: -1px ; padding: 1px ; border: 1px solid #c0c0c0 ; }
#main_nav li li { width: 100% ; }
#main_nav li li:hover { background: /* #D8ECFF */ /* #EDF5FF */ #e5f2ff right center no-repeat ; }
.ie7 #main_nav li li:hover { background: transparent ; }
#main_nav li li a { display: block ; padding: 3px 24px 3px 12px ; line-height: 22px ; font-size: 12px ; background-position: right center ; background-repeat: no-repeat ; }
#main_nav li li a.more { background: url('../images/subnav_more.png') right center no-repeat ; }
#main_nav li li a:hover {  }
.ie7 #main_nav li li a:hover { text-decoration: underline ; }
/* third-level menus */
#main_nav li li ul { display: none ; top: 0 ; margin-left: -2px ; border: 1px solid #c0c0c0 ; }
/* #main_nav li li:hover > ul { display: block ; } */

#main_nav li a { }

#main_nav > ul ul, .shadowed {
    -moz-box-shadow: 0px 2px 12px rgba(96,96,96,0.8) ; /* FF3.5+ */
    -webkit-box-shadow: 0px 2px 12px rgba(96,96,96,0.8) ; /* Saf3.0+, Chrome */
    box-shadow: 0px 2px 12px rgba(96,96,96,0.8) ; /* Opera 10.5, IE 9 */
    /* border: 2px solid rgba(204,204,204,0.5) ;	*/
}


.leftBar {  }
.leftBarTable {  }
.leftBarTableTD {  }
.leftBarTableBlank {  }

.thc { padding-bottom: 10px ; font-weight: normal ; }

.formLabel,
.formLabelRequired,
.formSublabel { text-align: left; /* vertical-align: text-top; */ white-space: nowrap ; }

.formLabelRequired b { color: #cc0000 ; /* font-size: 1.2em ; */ }

input.invalid { background: #ffc ; }

.summary h3 { line-height: 15px ; margin: 0 !important ; padding: 3px 0 !important ; }

/*
.ie7 .containerBody,
.ie7 .containerBody > div { height: auto !important ; overflow: auto !important ; }
*/

#min_projects_list,
#min_expt_list { min-height: 350px ; max-height: 700px ; overflow-y: scroll ; }
/*
.ie7 #min_projects_list > div,
.ie7 #min_expt_list > div { height: auto ; overflow: visible ; }
*/
#min_projects_list { /* min-width: 409px ; min-height: 350px ; */ }
/*
.ie7 #min_projects_list,
.ie7 #min_expt_list { width: auto ; }
*/
#min_expt_list { /* min-width: 289px ; */ }





/* RESET THE ACTIONS MENU */
#actionsMenu, #actionsMenu * { height: auto !important ; margin: 0 ; padding: 0 ; font-size: 12px ; font-weight: bold ; background: #fff ; }

/* REBUILD THE ACTIONS MENU */
#actionsMenu { /* border: 1px solid #eee ; */ }
#actionsMenu ul { list-style: none !important ; border-color: #ddd ; }
#actionsMenu .bd ul { padding: 2px 0 ; }
#actionsMenu .bd ul ul { min-width: 100px ; max-width: 200px ; max-height: 300px ; overflow-x: hidden ; overflow-y: auto ; }
#actionsMenu .ic,
#actionsMenu .ic_spacer,
#actionsMenu .topscrollbar,
#actionsMenu .bottomscrollbar { display: none !important ; visibility: hidden !important ; }
#actionsMenu > .bd { width: 180px ; }
#actionsMenu > .bd > .first-of-type { padding: 0 ; }
#actionsMenu > .bd > .first-of-type a { padding: 6px 8px ; font-weight: bold ; background: #084FAB ; color: #fff ; }
#actionsMenu > .bd > .first-of-type a:hover { cursor: default ; }
#actionsMenu li a { padding: 4px 8px ; }
#actionsMenu li a:hover { cursor: pointer ; background-color: #e5f2ff ; }
#actionsMenu li.yuimenuitem-hassubmenu > a { background: transparent url('../images/menuitem_submenuindicator.png') right center no-repeat ; }
#actionsMenu li.yuimenuitem-hassubmenu > a:hover { background-color: #e5f2ff ; }
#actionsMenu .yui-menu-body-scrolled { overflow: auto; height: auto !important ; }

/* ADD EXPERIMENT PAGE */
#add_experiment #breadcrumbs { margin-bottom: 10px ; }
#add_experiment #form1 * { font-size: 13px !important; }
#add_experiment #form1 p { margin-bottom: 10px ; }
#add_experiment #form1 table { border: none ; font-size: 13px ; }
#add_experiment #form1 td { padding: 0 ; }
#add_experiment #form1 .label { display: inline-block ; width: 76px ; font-weight: bold !important ; color: #000 ; }
#add_experiment #form1 #expt_list { width: 550px ; }
#add_experiment #form1 #expt_list #expt_list_filter { padding: 4px 16px ; background: #f3f3f3 ; }
#add_experiment #form1 #expt_list #expt_list_filter input { font-size: 12px !important ; color: #b0b0b0 ; }
#add_experiment #form1 #expt_list #expt_list_filter #filter_clear { padding: 3px 8px ; color: #333 ; /* background: #e5f2ff ; */ border: 1px solid #b0b0b0 ; }
#add_experiment #form1 #expt_list .label { width: 100% ; }
#add_experiment #form1 #expt_list .label i { display: block ; margin-top: 3px ; font-size: 12px ; font-style: normal ; color: #888 ; }
#add_experiment #form1 #expt_list .rows { margin-top: 8px ; border: 1px solid #ccc ; }
#add_experiment #form1 #expt_list .rows h4,
#add_experiment #form1 #expt_list .rows p { margin: 2px 0 ; padding: 0 ; color: #666 ; }
#add_experiment #form1 #expt_list h4 a { font-weight: bold !important; /* line-height: 18px; */ text-decoration: underline ; }
#add_experiment #form1 #expt_list div.row { display:none ; margin: 0 ; padding: 12px 16px ; background: #fff !important; border-top: 1px solid #ddd ; }
#add_experiment #form1 #expt_list div.row:hover { cursor: pointer ; background: #e5f2ff !important; ; }
/* for filter */
#add_experiment #form1 #expt_list div.row.show,
#add_experiment #form1 #expt_list div.row.match { display: block ; visibility: visible ; }


/* POP-UP ELEMENTS */
body #timeout_dialog_wrapper { z-index: 999990 !important ; }
body #session_timeout_dialog_mask { z-index: 999991 !important ; }
body #session_timeout_dialog_c { z-index: 999992 !important ; }
body #session_timeout_dialog { width: 396px !important ; line-height: 1.5 ; z-index: 999999 !important ; }

body #fileListing_mask { z-index: 101 !important ; }
body #fileListing_c { z-index: 102 !important ; }
body #fileListing { z-index: 103 !important ; }

body #fileUploadDialog_mask { z-index: 201 !important ; }
body #fileUploadDialog_c { z-index: 202 !important ; }
body #fileUploadDialog { z-index: 203 !important ; }


.yui-dt-button img { position: relative ; top: 2px ; }
.ie .yui-dt-button img { top: 1px ; }

/* #layout_content form * { font-weight: normal !important ; } */
#layout_content form * b { font-weight: bold !important ; }
#layout_content form * b u { font-weight: bold !important ; text-decoration: underline ; }





/* #expts_link_legend #view_all_link, */
#expts_link_legend #toggle_expts_link,
#expts_link_legend #expt_shared_legend,
#expts_link_legend #expt_denied_legend { float: right ; padding: 0 3px ; font-size: 12px ; font-weight: normal ; }
#expts_link_legend #expt_shared_legend {  }
#expts_link_legend #expt_denied_legend {  }
#proj_expts td, #all_expts td { padding: 6px 20px 6px 5px ; min-width: 80px ; }

#proj_expts td a, #all_expts td a { text-decoration: underline ; }


.yui-calcontainer { z-index: 9 ; }

#downloadForm .withColor { min-width: 200px ; color: #000 ; background: #f0f0f0 ; border: 1px solid #ccc ; }
#downloadForm #subTableSessions tr { background: #f0f0f0 ; border: none ; }

/* "No more wire inline font-size styles!" */
.smallest_text, .ie .smallest_text,
.smaller_text, .ie .smaller_text,
.small_text, .ie .small_text { font-size: 11px !important ; line-height: 15px !important ; }

/* begin defining defaults for Add Experiment page */
.add_experiment_form {  }
.add_experiment_form .results_summary {  }


.report_results { border: 1px solid #ccc ; }
.report_results td, .report_results th { padding: 8px 12px ; border-bottom: 1px solid #ccc ; }
.report_results th { font-size: 15px ; background: #f0f0f0 ; }
.report_results td:nth-child(3) { text-align: center ; font-size: 15px ; font-weight: bold ; }

/* results summary for experiment submissions */
.results_summary > * { padding: 10px 6px ; font-size: 15px ; background: #f0f0f0 ; }
.results_summary th,
.results_summary td { outline: none ; border: 4px solid #f0f0f0 ; }
.results_summary td { background: #fff ; text-align: center ; }


/* styling for "xnat-table" table */
.xnat-table { background: #fff; border-spacing: 0; border: 1px solid #aaa; }
.xnat-table th,
.xnat-table td { padding: 6px 12px; border: 1px solid #ccc; border-top: none; border-left: none; }
.xnat-table th {
    vertical-align: middle; font-size: 12px; font-weight: normal; text-align: center; white-space: nowrap;
    background: #d8d8d8 url('images/nav_bkgd.png') left top repeat-x; border-color: #aaa; }
.xnat-table td { vertical-align: middle; text-align: left; }
.xnat-table td.checkbox { padding: 0; text-align: center; }
.xnat-table td.checkbox label { display: block; padding: 6px 12px; }
.xnat-table td.checkbox label:hover { cursor: pointer; }
.xnat-table td.checkbox label:hover input[type="checkbox"],
.xnat-table td.checkbox input[type="checkbox"]:hover { cursor: pointer; box-shadow: 0 0 5px rgba(8, 80, 180, 0.5); }
.xnat-table td.checkbox input[type="checkbox"]:active { box-shadow: 0 0 5px rgba(8, 80, 180, 1); }
.xnat-table th:last-of-type,
.xnat-table td:last-of-type { border-right: none; }
.xnat-table tr:last-of-type td { border-bottom: none; }
.xnat-table tr.highlight:hover { background: #e5f2ff; }
.xnat-table .top { vertical-align: top; }
.xnat-table .middle { vertical-align: middle; }
.xnat-table .bottom { vertical-align: bottom; }
.xnat-table .left { text-align: left !important; }
.xnat-table .center { text-align: center !important; }
.xnat-table .right { text-align: right !important; }

/* override .even and .odd styles - these are not needed in .xnat-table tables */
.xnat-table .even,
.xnat-table .odd { background: #fff; border: none; }

/* alternate styling options for "xnat-table" tables */
.xnat-table.alt1 { border-color: #d0d0d0; }

.xnat-table.alt1 th { background: #f0f0f0; text-align: left; font-weight: bold; }
.xnat-table.alt1 th,
.xnat-table.alt1 td { border-color: #d0d0d0; }

.xnat-table.rows-only th,
.xnat-table.rows-only td { border-left: none; border-right: none; }




















.yui-skin-sam .yui-ac-input { width: auto !important ; }
#labelDialog { height: auto !important ; }
#labelDialog .bd { height: auto !important ; }

div.extension { background-color: #FF9 ; }
div.extension_js { background-color: #FF9 ; }




table.scan-details { text-indent:20px; }

/* 'fix' for pseudo-YUI tabs */
.yui-skin-sam .yui-navset.bogus-tabs .yui-nav li,
.yui-skin-sam .yui-navset.bogus-tabs .yui-navset-top .yui-nav li,
.yui-skin-sam .yui-navset.bogus-tabs .yui-nav .selected,
.yui-skin-sam .yui-navset.bogus-tabs .yui-navset-top .yui-nav .selected {
    margin-right: -1px;
}

.totals { position:relative; padding-top: 10px; }

/* fix for #layout_content being rendered in an xmodal modal */
div.xmodal #layout_content { padding-top: 0 ; }


/* prearchive file list modal */
table.file-details { margin-top: -5px ; }
table.file-details th,
table.file-details td { padding: 3px 5px ; white-space: nowrap; }
/*table.file-details td { border-right: 1px solid #d0d0d0 ; }*/
table.file-details td.scan-image-link { max-width: 275px; overflow: hidden; }
table.file-details td.scan-image-size { font-family: Courier, monospace; font-size: 13px; }
table.file-details td.scan-image-buttons { border: none ; }

/* 'Administer' pages */
#admin-nav { margin: 0 0 10px 20px; background: #f0f0f0; border: 1px solid #ccc; border-collapse: collapse; }
#admin-nav td { padding: 0; font-weight: bold; }
#admin-nav b,
#admin-nav a { display: inline-block; float: left; padding: 6px 12px; }
#admin-nav a:hover { color: #222; background: #e8e8e8; }
#admin-nav .active { color: #fff; background: #084FAB; border: 1px solid #293D66; }

.admin-content { margin: 20px; }
.admin-content .header { margin: 20px 2px 10px; }
.admin-content .data-table {  }

#edit-user-details { margin: 0 10px; }
body.popup #edit-user-details { margin: 0 auto; }
body.popup .yui-navset.wrangled { margin: 0 auto; }
#edit-user-details th { background: #f0f0f0; }
#edit-user-details h3 { padding-left: 10px; }
#edit-user-details th,
#edit-user-details td { padding: 8px 4px; }
#edit-user-details .label { text-align: right; font-weight: bold; }
#edit-user-details input[type="text"] { padding: 4px; }

/* Advanced Search wizard pages */
form.search-wizard { min-width: 720px; max-width: 720px; }

/* Step-by-step numbers */
.steps { padding: 0; list-style: none; }
.steps > li {
    padding: 0 20px 20px 40px;
    margin-bottom: 20px;
    background: url('../images/_.gif') 0 0 no-repeat;
    border-bottom: 1px solid #ccc;
}
.steps > li > h3 {
    line-height: 30px;
    vertical-align: middle;
}
.steps > li > p { margin: 10px 0 15px; }
.steps > li.step1 { background-image: url('../images/number_1.gif'); }
.steps > li.step2 { background-image: url('../images/number_2.gif'); }
.steps > li.step3 { background-image: url('../images/number_3.gif'); }
.steps > li.step4 { background-image: url('../images/number_4.gif'); }
.steps > li.step5 { background-image: url('../images/number_5.gif'); }

/* Advanced Search tabs */
.advanced-search-fields { position: relative; margin: 10px; font-size: 13px; line-height: 15px; }
.advanced-search-fields table td { padding: 0 8px 0 0; vertical-align: top; }
.advanced-search-fields h4 { margin: 15px 0 5px 0; font-size: 13px; border-bottom: 1px solid #ccc; }
.advanced-search-fields h5 { margin: 5px 0 2px; font-size: 13px; font-weight: normal; }
.advanced-search-fields div.search-group { float: left; margin-bottom: 10px; overflow: visible; }
.advanced-search-fields div.search-group.by-criteria { max-width: 60%; }
.advanced-search-fields div.search-group.by-id { max-width: 30%; }
.advanced-search-fields div.search-group.by-id > select { margin-top: 10px; }
.advanced-search-fields div.search-group h3 { margin-bottom: 5px; }
.advanced-search-fields div.search-group .disabled { opacity: 0.5; }
.advanced-search-fields textarea.exact-ids { display: block; margin-top: 5px; }
.advanced-search-fields .search-item {
    /* generic search item */
    display: inline-block;
    float: left;
    height: 50px;
    margin: 0 5px 0 0;
    padding: 0 10px 0 0;
    overflow: visible;
    white-space: nowrap;
}

.advanced-search-fields.autogen .search-item {
    /*min-width: 160px;*/
    max-width: 200px;
}

label.search-method-label { padding: 2px 12px 2px 10px; }

/* date range input */
.date-range { white-space: nowrap; }

/* friendlyForm styles. Taken from ConnectomeDB. To be refactored / replaced in XNAT 1.7, most likely */
.friendlyForm fieldset, fieldset {
    border: solid #e4efff;
    border-width: 4px 0 0;
    margin: 1em 0;
    padding: 1em 0;
}
.friendlyForm fieldset.error {
    background-color: #fffcc9;
    border-color: #cc9;
    color: #d40000;
}
.friendlyForm p {
    line-height: 1.4em !important;
    margin-bottom: 1em;
    position: relative;
}
.friendlyForm h4 {
    border-bottom: 1px solid #999;
    font-size: 14px;
    font-weight: bold;
    margin-top: 1em;
    padding-bottom: 6px;
}
.friendlyForm label {
    color: #777;
    display:block;
    font-size: 12px !important;
    font-weight: bold;
    text-transform: uppercase;
}
.friendlyForm input[type=text],
.friendlyForm input[type=password],
.friendlyForm input[type=file],
.friendlyForm textarea,
.friendlyForm select {
    font-size: 14px !important;
    padding: 6px;
    width: 96%;
}
.friendlyForm input[type=file] {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin: 1em 0;
    margin-bottom: inherit;
    padding: 1em;
}
.inputWrapper {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 2em;
    padding:20px 0;
    position: relative;
}
.inputWrapper.horizontal { display: inline-block; vertical-align: top; width: 350px; }
.inputWrapper.highlighted {
    background-color: #e4efff;
}
.inputWrapper.error {
    border: none;
    padding: 6px;
    position: relative;
    top: 0; left: 0;
    width: inherit;	/* override other .error styles */
}
.inputWrapper.error,
.inputWrapper table tr.error { background-color: #fde;  }

.inputWrapper.wide {
    width: 600px;
}
.inputWrapper.error h3,
.inputWrapper.error ul {
    margin-left: 30px !important;
}
.friendlyForm p.error {
    color: #c33;
    font-size: 12px !important;
    font-weight: bold;
}
.inputWrapper label {
    color: #37c;
}
.inputWrapper input[type=text],
.inputWrapper input[type=password],
.inputWrapper textarea {
    width: 330px;
}
.inputWrapper.wide input[type=text],
.inputWrapper.wide input[type=password],
.inputWrapper.wide textarea {
    width: 600px;
}
.inputWrapper input:read-only { background-color: #f0f0f0; color: #999; }

.inputWrapper .helptext,
.inputWrapper .helptext-error {
    color: #888;
    font-size: 12px;
    line-height: 14px;
    position: absolute; bottom: 18px; left: 425px;
}
.inputWrapper.wide .helptext,
.inputWrapper.wide .helptext-error {
    padding-top: 4px;
    position: inherit; bottom: inherit; left: inherit;
}
.inputWrapper table { border: 1px solid #ccc; border-collapse: collapse; }
.inputWrapper td, .inputWrapper th { padding: 3px; }
.inputWrapper td { border-top: 0; }
.inputWrapper th { text-align: left; background-color: #f3f3f3; }
p.form-submit {
    font-size:12px !important;
    text-align: right;
}
.form-submit input,
.request-access input,
.overlay-action input {
    font-size: 16px !important;
    padding:6px 12px;
}
.request-access input {
    float:right;
}

.friendlyForm .inputWrapper {
    background-color: #fff;
    border: none;
}
.friendlyForm.mini .inputWrapper { padding: 10px; }
.friendlyForm.mini label { display: inline-block; width: 200px; text-transform: inherit;  }
.friendlyForm.mini input[type=text],
.friendlyForm.mini input[type=password],
.friendlyForm.mini input[type=file],
.friendlyForm.mini textarea {
    font-size: 12px !important;
    padding: 3px;
    width: inherit;
}

.friendlyForm.mini .dataTable label { width: 100px; }

label.disabled { color: #a0a0a0; font-weight: normal; }