<p>Redirecting to this content on the public HCP wiki. If this does not happen immediately, please navigate to <a href="https://wiki.humanconnectome.org/display/PublicData/Read+Me+-+Abdollahi+et+al%2C+Neuroimage+2014">https://wiki.humanconnectome.org/display/PublicData/Read+Me+-+Abdollahi+et+al%2C+Neuroimage+2014</a>.</p>
<script>
    // redirect users browsing directly to this URL to a public wiki page.
    window.location.assign('https://wiki.humanconnectome.org/display/PublicData/Read+Me+-+Abdollahi+et+al%2C+Neuroimage+2014');
</script>