<!-- BEGIN templates/screens/AsperaDownloadResource.vm -->

$page.setTitle("Download Resource Launcher")
$page.setBgColor($ui.bgcolor)
<script type="text/javascript" src="$content.getURI('scripts/jquery/jquery.min.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/aspera/asperaplugininstaller.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/downloadManager/downloadLauncher.js')"></script>
<script type="text/javascript">
function doDownload() {
	var url = "$webapp/admin/download/projects/$project/resources/$resource/files/$filePath/end";
	new AsperaDownloadLauncher().launchDownload(url, {}, "$filePath");
}
</script>

<DIV VALIGN="top">
<h1>Download Resource Launcher</h1>
<br/>
Your download will begin shortly (if it doesn't, <a href="#" onclick="doDownload(); return false;">click here</a>).
<br/><br/>
<div id="transfer_spec" style="display: none"></div>
</DIV>

<!-- END templates/screens/AsperaDownloadResource.vm -->
