<script type="text/javascript" src="$content.getURI("scripts/FileSaver.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/dataDictGen.js")"></script>

<style>
    .bigText { width: 99%; height: 200px; }

</style>

$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<script type="text/javascript">
	var messageText = "$data.message()";
	$("#message-container").append("<div class='warning'><span class='icon icon-sm icon-close'></span> "+messageText+"</div>"); 
	$(document).ready(function(){ 
		$("#message-container div").on("click",function(){ $(this).slideUp(200) }); 
	}); 
</script>
#end
#if($vr)
<script type="text/javascript">
	var messageText = $vr.toHTML(); 
	$("#message-container").append("<div class='error'><span class='icon icon-sm icon-close'></span> <strong>Form Validation Error, please contact administrator:</strong><br /> "+messageText+"</div>"); 
	$(document).ready(function(){ 
		$("#message-container div").on("click",function(){ $(this).slideUp(200) }); 
	}); 
</script>
#end
	
<div id="header">
	<div class="subject-page header">
		<h1 id="page-title">Data Dictionary Generator</h1>
        Enter CSV to Convert:
        <textarea id="csvText" class="bigText"></textarea>
        <br />
        <button onclick="convertCSV2JSON()">Generate Data Dictionary</button>
        &nbsp;&nbsp;
        <button onclick="downloadCSV2JSON()">Download Data Dictionary</button>
        <br><br>
        Full Data Dictionary:
        <br><textarea id="ddictText" class="bigText"></textarea>
        <br><br>
        Data Dictionary Attributes Array:
        <br><textarea id="jsonText" class="bigText"></textarea>
        <br><br>
        Data Dictionary Assessments Array:
        <br>
        <textarea id="assessmentsText" class="bigText"></textarea>
        <br><br>
        Data Dictionary Categories Array:
        <br>
        <textarea id="categoriesText" class="bigText"></textarea>
        <br><br>
        Data Dictionary CSVs Array:
        <br>
        <textarea id="csvsArrayText" class="bigText"></textarea>

	</div>
</div>

