<!-- BEGIN xnat-templates/screens/DataDictionary.vm -->
#if($category)
    <h1>Category: $category</h1>
    #if($attributes.size() == 0)
    	<h3>There are no attributes defined yet for this category.
    #else
	    #set($currentInstrument = "")
	    #foreach($attribute in $attributes)
        	#if($currentInstrument != "$attribute.getInstrument()")
        		<h2>Instrument: $attribute.getInstrument()</h2>
        	#end
        	#set($currentInstrument = "$attribute.getInstrument()")
        	<h3>$attribute.getColumnHeader() ($attribute.getName())</h3>
        	#if($StringUtils.isBlank($attribute.getDescription()))
        		<p>There is no description yet for this attribute.</p>
        	#else
        		<p>$attribute.getDescription()</p>
        	#end
	    #end
    #end
#else
<h1>Data Dictionary<h1>
#end
<!-- END xnat-templates/screens/DataDictionary.vm -->
