
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>trackfrac</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRACKFRAC"))
		</TD>
		
	</TR>
	<TR>
		<TD>TRfrac</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRFRAC"))
		</TD>
		
		<TD>RET_trackfrac_min</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RET_TRACKFRAC_MIN"))
		</TD>
		
		<TD>RET_TRfrac_min</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RET_TRFRAC_MIN"))
		</TD>
		
		<TD>MOV1_trackfrac</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOV1_TRACKFRAC"))
		</TD>
		
	</TR>
	<TR>
		<TD>MOV1_TRfrac</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOV1_TRFRAC"))
		</TD>
		
		<TD>MOV2_trackfrac</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOV2_TRACKFRAC"))
		</TD>
		
		<TD>MOV2_TRfrac</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOV2_TRFRAC"))
		</TD>
		
		<TD>MOV3_trackfrac</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOV3_TRACKFRAC"))
		</TD>
		
	</TR>
	<TR>
		<TD>MOV3_TRfrac</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOV3_TRFRAC"))
		</TD>
		
		<TD>MOV4_trackfrac</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOV4_TRACKFRAC"))
		</TD>
		
		<TD>MOV4_TRfrac</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOV4_TRFRAC"))
		</TD>
		
		<TD>REST_trackfrac_min</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("REST_TRACKFRAC_MIN"))
		</TD>
		
	</TR>
	<TR>
		<TD>REST_TRfrac_min</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("REST_TRFRAC_MIN"))
		</TD>
		
		<TD>RET_eyetrack_compl</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RET_EYETRACK_COMPL"))
		</TD>
		
		<TD>MOV_eyetrack_compl</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOV_EYETRACK_COMPL"))
		</TD>
		
		<TD>REST_eyetrack_compl</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("REST_EYETRACK_COMPL"))
		</TD>
		
	</TR>
	<TR>
	</TR>
</TABLE>
