#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("NoMenu.vm")

<div class="message-inset" style="font-size:95%">
    <h4>Thanks for your interest in our site.</h4>
    You should receive an email with a verification link that you must visit before you can log in. If you did not get this link, you can
    <a href="$link.setPage("ResendEmail.vm")#if($turbineUtils.GetPassedParameter('par',$data))/par/$turbineUtils.GetPassedParameter('par',$data)#end">resend the email</a>.
    If you still do not see the email in your inbox, please check your spam folder.
</div>
<div style="padding-top:10px">
    <a href="$link.setPage("ResendEmail.vm")#if($turbineUtils.GetPassedParameter('par',$data))/par/$turbineUtils.GetPassedParameter('par',$data)#end">Resend Verification Email</a>
</div>

#if ($data.getMessage())
<script type="text/javascript">
	var messageText = "$data.message()";
	$("#message-container").append("<div class='warning'><span class='icon icon-sm icon-close'></span> "+messageText+"</div>"); 
	$(document).ready(function(){ 
		$("#message-container div").on("click",function(){ $(this).slideUp(200) }); 
	}); 
</script>
#end

#if($msg)
<script type="text/javascript">
	var messageText = $msg; 
	$("#message-container").append("<div class='note'><span class='icon icon-sm icon-close'></span> "+messageText+"</div>"); 
	$(document).ready(function(){ 
		$("#message-container div").on("click",function(){ $(this).slideUp(200) }); 
	}); 
</script>
#end


