##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved

<script type="text/javascript" src="$content.getURI("scripts/generated/xdat_stored_search.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/generated/xdat_search_field.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/generated/xdat_criteria.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/generated/xdat_criteria_set.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/search/tabManager.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/search/saveSearch.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/search/searchManager.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/search/dataTableSearch.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/search/dataTableStoredSearch.js")"></script>
<div id="header">
	<h1 id="page-title">Search Results <span id="searchTerm"></span></h1>	
	<p><span id="matchCount"></span> The matches are grouped below by data type.  Please select the pertinent entry.</p>
</div>

<div id="search_results_container">
	<div id="search_tab_module">
		<div class="bd">
			<div id="search_tabs"></div>
		</div>
	</div>
</div>
                
 #if($xss)
 <textarea id="xss" style="display:none">$xss</textarea>
 #end

<script type="text/javascript">
var server= "$content.getURI("images")/";
var user_email= "$data.getSession().getAttribute("user").getEmail()";
//build element_array

 window.lTV = new LeftBarTreeView({treeview:"l_tv",module:"search_tab_module",tabs:"search_tabs"});
  window.lTV.init();
 
 #if($node)
   var defaultNode="$node";
   if(defaultNode.indexOf("ss.")>-1){
     window.lTV.ssNode.expand();
   }
   window.lTV.expand(defaultNode);
 #end
 
 function displayTab(tabReqObject){
   window.lTV.displayTab(tabReqObject);
 }
 
 var customSearchCount=1;
 window.newSearch=function (){
   var sm=new SearchXMLManager();
   sm.onsubmit.subscribe(function(obj1,obj2,obj3){
				     var xml=this.searchDOM.toXML("");
			     this.dialogPopup.destroy();
			     displayTab({label:"Search "+ customSearchCount,
	                         		ID:"c."+ (customSearchCount++),
	                         		XML:xml
	     });
		   },this);
   sm.init();
   sm.render();
 }
 
 #if($xss)

     displayTab({label:"Search "+ customSearchCount,
	                         		ID:"c."+ (customSearchCount++),
	                         		XML:document.getElementById("xss").value
	     });
 #end
 
 #if($newSearch)
 window.newSearch();
 #end
</script>