<script type="text/javascript" src="$content.getURI("scripts/project/accessibility.js")"></script>

$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<script type="text/javascript">
	var messageText = "$data.message()";
	$("#message-container").append("<div class='warning'><span class='icon icon-sm icon-close'></span> "+messageText+"</div>"); 
	$(document).ready(function(){ 
		$("#message-container div").on("click",function(){ $(this).slideUp(200) }); 
	}); 
</script>
#end
#* @vtlvariable name="siteConfig" type="java.util.Properties" *#
#* @vtlvariable name="data" type="org.apache.turbine.util.RunData" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#set($showUserList = !$turbineUtils.toBoolean($siteConfig.getProperty("restrictUserListAccessToAdmins", "true")) || $data.getSession().getAttribute("user").checkRole("Administrator"))
<script type="text/javascript" src="$content.getURI("scripts/project/userMgmt.js")"></script>

<table class="mgmt_container">
    <tr>
        <td valign="top">
            <label><input id="showDeactivatedUsersCheck" type="checkbox" onclick="window.userManager.reloadUsersForProject();">Show Deactivated Users</label>
            <div id="user_mgmt_div"></div>
        </td>
        <td valign="top">
            <div id="user_invite_div">
                <TABLE>
                    <TR>
                        <TD COLSPAN="3"><h4 id="add_invite_user_header" style="margin-bottom:0px">Add/Invite User</h4>
                            Enter the email address of the user to add.</TD>
                    </TR>
                    <TR>
                        <TD COLSPAN="3" NOWRAP><INPUT type="text" name="email" ID="invite_email" style="margin-bottom:3px"/>
                            <BR><select name="access_level" id="access_level" style="margin-bottom:3px"><option value="collaborator">Collaborator</option><option value="member">Member</option><option value="owner">Owner</option></select>
                            <BR><input type="button" value="Add User" name="eventSubmit_doPerform" ID="invite_user_button" ONCLICK="window.userManager.inviteUserFromForm();"/>
                        </TD>
                    </TR>
                    <TR>
                        <TD COLSPAN="3">&nbsp;</TD>
                    </TR>
                    #if($showUserList)
                        <TR>
                            <TD COLSPAN="3"><h4 id="user_list_header" style="margin-bottom:0px">Add Users from List</h4></TD>
                        </TR>
                        <TR>
                            <TD COLSPAN="3" NOWRAP>
                                <input type="button" id="popup_all_users_button" disabled="true" value="Show List" ONCLICK="window.userManager.popupAllUsersBox();"/>
                            </TD>
                        </TR>
                    #end
                </TABLE>
            </div>
        </td>
    </tr>
</table>
<form action="/REST/projects/$data.getSession().getAttribute("subjectKeyProjectId")">
    <input type="submit" value="View Subject Key">
</form>
<script language="javascript">
    function summaryUserTabChange(obj){
        if (window.userManager == undefined) {
            window.userManager = new UserManager("user_mgmt_div", "$data.getSession().getAttribute("subjectKeyProjectId")", $showUserList);
        }
    }

    function addUserMgmtMonitor(){
        if (window.userManager == undefined) {
            window.userManager = new UserManager("user_mgmt_div", "$data.getSession().getAttribute("subjectKeyProjectId")", $showUserList);
        }
    }

    YAHOO.util.Event.onDOMReady(addUserMgmtMonitor);

</script>