#if(!($data.getSession().getAttribute("user").canRead($project)) &&
    !($project.getPublicAccessibility()=="protected" || $project.getPublicAccessibility()=="public"))
<!-- If subject key is not public and user does not have access to it, display error. -->
We are unable to provide the requested data. This user account does not have access to this data.
#else
    #set($dataset = "$project.getId()")

    #parse("/screens/ProjectData.vm")
    #parse("/screens/ModalsAWS.vm")
    #set ($AWScredentials=$data.getSession().getAttribute("hasAws"))

<script type="text/javascript" src="$content.getURI('/scripts/HCP/aws.js')"></script>
<script type="text/javascript" src="$content.getURI('/scripts/HCP/dataAccess.js')"></script>

    <script type="text/javascript" src="$content.getURI("scripts/xReader/xReader.full.js")"></script>
    <script type="text/javascript">
		// initialize publication script
		var server= "$content.getURI("images")/";
		var user_email= "$data.getSession().getAttribute("user").getEmail()";
		var canEdit = "$data.getSession().getAttribute("user").canEdit($project)";
		var sessExpMsgT = 'WARNING: Your session has expired.<br/><br/>You will need to re-login and navigate to the content.';
		var isAdmin = "$data.getSession().getAttribute("user").checkRole("Administrator")";
		var codedIdCount= $!codedIdCount;
		var accessibility= "$project.getPublicAccessibility()";
	</script>
    <script type="text/javascript" src="$content.getURI("scripts/datasetUtils/managePubs.js")"></script>
    <script type="text/javascript" src="$content.getURI("scripts/datasetUtils/datasetUtils.js")"></script>
	
	<script type="text/javascript">
		// on page load, display known updates and linked publications
		jq(document).ready(function() {
			YAHOO.util.Connect.asyncRequest('GET',serverRoot + "/REST/services/update?project=$!project.getId()&XNAT_CSRF="+csrfToken,getUpdatesCallback,null,this);
	        YAHOO.util.Connect.asyncRequest('GET',serverRoot + "/REST/services/publication?project=$!project.getId()&XNAT_CSRF="+csrfToken,getPublicationsCallback,null,this);
		});
	</script>
	
	#set($subject_count=$project.getSubjectCount())
	#if($om.getStudyprotocol().size() >= 1)
		#set($protocol=$om.getStudyprotocol().get(0))
	#end

	#if($data.getSession().getAttribute("user").canRead("xnat:projectData/ID","$project.getId()"))

	<script language="javascript">
	  //  var server= "$content.getURI("images")/";
	  //  var user_email= "$data.getSession().getAttribute("user").getEmail()";
		var categories = $categories;
		var assessments = $assessments;
		var attributeMap = $attributeMap;
		var current_project_name = '$!project.getId()';
		var current_tier = '$data.getSession().getAttribute("tier")';
		var hasRestrictedAccess = '$data.getSession().getAttribute("hasRestrictedAccess")';
		var connectomeType = '$connectomeType';
        var awsAccessKey = "$!data.getSession().getAttribute("awsAccessKey")";
      //populate groups in the hidden dropdown list
      populateGroupsProj = function (groups) {
          var gSelect = $('#group_selector_proj');
          var dSelect = $('#group_selector_down');
          var addedBar = false;
          gSelect.html('');//clear any previous groups
          dSelect.html('');//clear any previous groups
          for (var pflC = 0; pflC < XNAT.app.dashboard.previousFiltersLog.length; pflC++) {
              var logEntry = XNAT.app.dashboard.previousFiltersLog[pflC];
              var tierOfOption = "";
              if(logEntry.tier!=undefined && logEntry.tier!=null && logEntry.tier!=""){
                  tierOfOption = "tier"+logEntry.tier;
              }
              var projectOfFilter = "";
              if(logEntry.project!=undefined && logEntry.project!=null && logEntry.project!=""){
                  projectOfFilter = logEntry.project;
              }
              if((projectOfFilter=="")||(projectOfFilter==current_project_name)) { //Display filter if it is not project specific or if you're on the project it applies to (treating restricted and non-restricted versions of the project as the same).
                  if(tierOfOption=="tier1"){
                      if(hasRestrictedAccess=="true"){
                          if(!logEntry.isSiteFilter && !addedBar){
                              if(gSelect[0].options.length>0){
                                  gSelect.append($('<option></option>').prop("value", "").text("-------------"));
                              }
                              addedBar=true;
                          }
                          gSelect.append($('<option class="group image '+tierOfOption+'" data-img="'+serverRoot+'/style/furniture/icon-lock-tier1.png"></option>').prop("value", logEntry.filter).prop("groupName", logEntry.desc).text(logEntry.desc.getExcerpt(60)));
                          if(logEntry.isSiteFilter){
                              dSelect.append($('<option class="group image '+tierOfOption+'" data-img="'+serverRoot+'/style/furniture/icon-lock-tier1.png"></option>').prop("value", logEntry.filter).prop("groupName", logEntry.desc).text(logEntry.desc.getExcerpt(60)));
                          }
                      }
                  }
                  else if(tierOfOption=="tier2"){
                      if(hasRestrictedAccess=="true"){
                          if(!logEntry.isSiteFilter && !addedBar){
                              if(gSelect[0].options.length>0){
                                  gSelect.append($('<option></option>').prop("value", "").text("-------------"));
                              }
                              addedBar=true;
                          }
                          gSelect.append($('<option class="group image '+tierOfOption+'" data-img="'+serverRoot+'/style/furniture/icon-lock-tier2.png"></option>').prop("value", logEntry.filter).prop("groupName", logEntry.desc).text(logEntry.desc.getExcerpt(60)));
                          if(logEntry.isSiteFilter){
                              dSelect.append($('<option class="group image '+tierOfOption+'" data-img="'+serverRoot+'/style/furniture/icon-lock-tier2.png"></option>').prop("value", logEntry.filter).prop("groupName", logEntry.desc).text(logEntry.desc.getExcerpt(60)));
                          }
                      }
                  }
                  else{
                      if(!logEntry.isSiteFilter && !addedBar){
                          if(gSelect[0].options.length>0){
                              gSelect.append($('<option></option>').prop("value", "").text("-------------"));
                          }
                          addedBar=true;
                      }
                      gSelect.append($('<option class="group image '+tierOfOption+'"></option>').prop("value", logEntry.filter).prop("groupName", logEntry.desc).text(logEntry.desc.getExcerpt(60)));
                      if(logEntry.isSiteFilter){
                          dSelect.append($('<option class="group image '+tierOfOption+'"></option>').prop("value", logEntry.filter).prop("groupName", logEntry.desc).text(logEntry.desc.getExcerpt(60)));
                      }
                  }
              }

          }
          xMenuCreate(gSelect);
          xMenuCreate(dSelect);
          XNAT.app.filterUI.populateGroupsCompleted.fire();
      }


	</script>

	<style type="text/css">
		body div.xmenu ul li.image a { padding-left: 22px ; background-position: 4px 4px ; }
		body div.xmenu .button_content img { top: -2px ; padding-right: 2px ; }
	</style>

        <div id="header">
            #parse("/screens/DataView.vm")
            <div class="subject-page header">
                <h1 id="page-title">
                    #if($project.getPublicAccessibility()=="public") Shared #end
                    Dataset: $project.getName()
                </h1>#if($data.getSession().getAttribute("user").checkRole("Administrator"))<a href="?view=old">Old View</a>#end
                <p>Dataset ID: $subjectKeyProjectId</p>
            </div>
        </div>
        <div name="subject-toolbar" id="toolbar-positioner">
            <div id="toolbar-container" class="subjectKey">
                <div id="toolbar"> <!-- toolbar listing order from right to left -->
                    <div class="toolset #if (!$user.canRead("xnat:subjectData/project",$project.getId())) dut-required #end">
                        <div class="toolset-header">Actions</div>
                        <div class="toolset-content vertical">

							#if ($user.canRead("xnat:subjectData/project",$project.getId()))
						
								#set($dashboardUri = "app/template/SubjectDashboard.vm")
								<div class="tool" onclick="window.location.assign('$content.getURI($dashboardUri)')">
									<span class="icon icon-dashboard"></span>
									<label>Browse Subjects</label>
								</div>
								<div class="tool" id="open_group">
									<select class="xmenu" id="group_selector_proj" size="15" style="display:none;"></select>
                                    <span class="button_content static" style="width:auto;height:auto;margin:0;padding:0;line-height:1;background:transparent;">
                                        <span class="icon icon-group"></span>
                                        <label>Open Group</label>
                                    </span>
								</div>
                                <div class="tool">
                                    <form id="downloadDataset" name="downloadDataset" method="POST" style="display: inline;">
                                        <select class="xmenu" id="group_selector_down" size="15" style="display:none;"></select>
                                        <span class="button_content static" style="width:auto;height:auto;margin:0;padding:0;line-height:1;background:transparent;">
                                            <span class="icon icon-download"></span>
                                            <label>Download Images</label>
                                        </span>
                                        <input type="hidden" id="subject_label" name="subject_label" />
                                        <input type="hidden" id="subjects" name="subjects" />
                                        <input type="hidden" id="query" name="query" />
                                    </form>
                                </div>
								
								#if ($AWShosted) 
									#if (!$AWScredentials) 
										## launch modal to enable AWS credentials
										<div class="tool aws-launcher-enable">
											<span class="icon icon-aws"></span>
											<label>AWS Public Data Set</label>
										</div>
									#else 
										## launch modal to reset AWS credentials
										<div class="tool aws-launcher-recreate">
											<span class="icon icon-aws"></span>
											<label>AWS Public Data Set</label>
										</div>
									#end
								#end
							
							#else
								<div class="tool dut-launch" data-dut="$DUT" data-duttitle="$DUTtitle" style="width: 180px">
									<span class="icon icon-locked"></span>
									<label>Data Use Terms Required</label>
								</div>

							#end
                        </div>
                    </div>

                    <div class="toolset">
                        <div class="toolset-header">Contents</div>
                        <div class="toolset-content vertical">
                            <div class="dataset-stats">
								#if ($subjWImage > 0) 
									<p><span class="dataset-stat">$subjWImage</span><label>Subjects with MRI Data</label></p>
								#end
                                #if ($subjWMEG > 0)
                                    <p><span class="dataset-stat">$subjWMEG</span><label>Subjects with MEG Data</label></p>
                                #end
                                #if ($subjW7t > 0)
                                    <p><span class="dataset-stat">$subjW7t</span><label>Subjects with <br>7T Data</label></p>
                                #end
								#if ($subjWBehavioral > 0)
									<p><span class="dataset-stat">$subjWBehavioral</span><label>Subjects with Behavioral Data</label></p>
								#end
							</div>
                        </div>
                    </div>

                    <div class="toolset current-selection"> <!-- primary toolset -->
                        <div class="toolset-header">Dataset Description</div>
                        <div class="toolset-content vertical" style="padding-left: inherit;">
                            <p>$!project.getDescription()</p>
                            <div style="margin-top: 1em">
								#if($readMore)
                                <div class="tool inline" onclick="window.open('$readMore')">
									<span class="icon icon-list"></span>
                                    <label>Documentation</label>
                                </div>
								#end
                                <div class="tool inline" onclick="openPermalinkModal();">
                                    <span class="icon icon-link"></span>
                                    <label>Permalink</label>
                                </div>
								#if($data.getSession().getAttribute("user").canEdit($project))
								<div class="tool inline admin" onclick="window.location.assign('/app/action/XDATActionRouter/xdataction/edit/search_element/xnat%3AprojectData/search_field/xnat%3AprojectData.ID/search_value/$dataset/popup/false')">
									<span class="icon icon-edit"></span>
									<label>Edit Dataset Info</label>
								</div>
								#end
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- end toolbar container -->
        </div> <!-- end #toolbar-positioner -->

        <script>
            // clean up appearance of toolbar, after all dynamic elements have been loaded.
            $(document).ready(function(){
                toolbarCleanup();

                //when the list of previous filters changes, do this.
                XNAT.app.dashboard.onHistoricalFiltersLoad.subscribe(populateGroupsProj);

                //load the list of previous filters
                XNAT.app.dashboard.loadFiltersLog();

                //when the group selector is modified, open that group
                $("#group_selector_proj").change(function () {
                    window.location.href = "/app/template/SubjectDashboard.vm?subjectGroupName=" + $(this).find(":selected").text();
                })

                //when the download group selector is modified, open download page for the subjects in that group
                $("#group_selector_down").change(function () {
                    var selected = $("#group_selector_down option:selected").html();
                    if (selected == "All Subjects") {
                        if (!confirm ("We do not recommend attempting to download all data from all subjects. We can provide a full set of image data on Connectome in a Box hard drives. Are you sure you wish to proceed?")) {
                            return;
                        }
                    }

                    $("#downloadDataset").attr("action", "$content.getURI('app/action/DownloadPackagesAction')");
                    var subjectList = ($("#group_selector_down"+"  option:selected").val()).replace("&xnat:subjectData.SUBJECT_LABEL=","");
                    jq('#downloadDataset').find('#subjects').val(subjectList);
                    jq('#downloadDataset').find('#subject_label').val(subjectList);
                    jq('#downloadDataset').find('#query').val("Subject = (".concat(subjectList.replace(/,/g, "|")).concat(")"));

                    document.getElementById("downloadDataset").submit();
                })

            });
        </script>

        #addCustomScreens($om.getXSIType() "report/preData")

        #if($codedIdCount > 0)
            <div id="dashboard_results" style="clear:both">
                <div id="search_tab_module">
                    <div class="bd">
                        <div id="search_tabs"></div>
                    </div>
                </div>
            </div>

            <script language="javascript">
                jq(window).load(function(){
                    wrangleTabs('#search_tabs');
                });
            </script>
        #end

        <script type="text/javascript" src="$content.getURI("scripts/generated/xdat_stored_search.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/generated/xdat_search_field.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/generated/xdat_criteria.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/generated/xdat_criteria_set.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/dashboard/tabManager_filter.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/search/saveSearch.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/dashboard/searchManager_filter.js")"></script>
        <script type="text/javascript" src="$content.getURI('scripts/dashboard/dataTableSearch_filter.js')"></script>
        <script type="text/javascript" src="$content.getURI('scripts/dashboard/dataTableStoredSearch_filter.js')"></script>
        <script type="text/javascript" src="$content.getURI('scripts/dashboard/HcpUtil.js')"></script>
        <script type="text/javascript" src="$content.getURI('scripts/dashboard/dashboard.js')"></script>
        <script type="text/javascript" src="$content.getURI("scripts/dashboard/HcpSplash.js")"></script>
        <script type="text/javascript" src="$content.getURI('scripts/dashboard/watermark.js')"></script>
        <script type="text/javascript" src="$content.getURI("scripts/dashboard/filterUI.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/dashboard/FilterLabelEditor.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/yui/build/resize/resize-beta-min.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/yui/build/layout/layout-beta-min.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/yui/xnat_loader.js")"></script>

        <div id="project_tabs" class="yui-navset">
            <ul class="yui-nav">
                <li class="selected"><a href="#resources"><em>Resources</em></a></li>
                #if ($hasSubjectKeys)<li><a href="#subkeys"><em>Subject Keys</em></a></li>#end
                <li><a href="#pubs"><em>Consortium Pubs</em></a></li>
                <li><a href="#updates"><em>Update Log</em></a></li>
            </ul>

            <div class="yui-content">
##                #if($resourcesVm != "")
                    <div id="resources">
                        #parse("$resourcesVm")
                    </div>
##                #end

                #if ($hasSubjectKeys)
                    <div id="subkeys">
                        #parse("/screens/SubjectKeys.vm")
                    </div>
                #end

                <div id="pubs">
                    <div class="publications report-info-block" id="publications">
                        <h2 id="relatedPublications">Related Publications for This Dataset:
                            #if($data.getSession().getAttribute("user").canEdit($project))
                                <button class="btn btn-xs" onclick="openPubModal();">Add Publication</button>
                            #end
                        </h2>
                        <table id="dataset-publications" style="width:100%">
                            <thead>
                            <tr><th width="100">Authors</th><th width="300">Article Title</th><th>Publication</th><th>Date</th><th>PMID</th><th>DOI</th>#if($data.getSession().getAttribute("user").canEdit($project))<th style="color:red;">Remove</th>#end</tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div id="updates">
                    <div class="updates report-info-block" id="updates">
                        <h2 id="updates">Update History:
                            #if($data.getSession().getAttribute("user").canEdit($project))
                                <button class="btn btn-xs" onclick="openUpdateModal();">Add Update</button>
                            #end
                        </h2>
                        <table id="dataset-updates" style="width:100%">
                            <thead>
                            <tr><th width="300">Date</th><th>Update</th><th>Link</th>#if($data.getSession().getAttribute("user").canEdit($project))<th style="color:red;">Remove</th>#end</tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- end yui-navset -->

        ## Hardocoding for HCP_500/900 bottom template, which doesn't currently have a tab
        ## We could have PROJECT.vm for all dashboard projects and get rid of the conditional
        #if ($dataset.contains("HCP_"))
            #set($projectSpecificVm = "/screens/projectReportPages/${dataset}.vm")
            #parse("/screens/projectReportPages/${dataset}.vm")
        #end

        <script>
            var projTabs = new YAHOO.widget.TabView("project_tabs");
        </script>
    #end

    <div id="temp_display"></div>

	#if (!($user.canRead("xnat:subjectData/project", $project.getId())))
        <!-- DUT Modal: hidden until/unless needed -->
        <div id="dut_modal_$DUT" class="xmodal existing dutModal" style="display:none;">
            <!-- modal body start -->
            <div class="dutModal">
                <form id="dut-form-$DUT" name="DUT-form" action="javascript:dutSubmit('$DUT')" accept-charset="UTF-8" class="dutWrapper">
                    #parse("$DUTvm")
                </form>
            </div>
            <!-- modal body end -->
        </div>

        <!-- misc modals -->

        <div id="dut-thanks-div" class="modal hidden">
            <p class="modal-title">Data Use Terms Accepted</p>
            <img class="modal-close" src="$content.getURI('/images/close.gif')" onclick="javascript:modalClose('reg-thanks-div');" />
            <div style="margin:250px 100px; text-align: center;">
                <img src="$content.getURI('/images/logo-icon.png')" />
                <p id="reg-thanks-msg" style="font-size:18px; line-height: 24px;"></p>
            </div>
            <p class="form-submit"><input type="button" value="Close" onclick="javascript:modalClose();"></p>
        </div>
        <div id="dut-processing-div" class="modal hidden opaque">
            <div style="margin:250px 100px; text-align: center;">
                <img src="$content.getURI('/images/loading.gif')" />
            </div>
        </div>
	#end 
#end