##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

<script language="javascript">
	function newConfirmEmail()	{
		/* validate emails */
		var error=false;
		$('.emailInput').each(function(){
            $(this).css('background-color','#fffcc9').prev('label').find('span').remove();
			var string=$(this).val().toLowerCase();
			if ((string) && ( !string.match(/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/) )) {
				
				// if the email does not match a standard regex pattern...
				$(this).css('background-color','#fffcc9').prev('label').append('<span class="error" style="margin-left: 16px;">| Invalid email address</span>');
				error = true;
			}	
		});
		
		if ($('#new_email').val() !== $('#confirm_email').val() || $('#new_email').val().indexOf(' ')!=-1 || $('#new_email').val().length >= 255) {
		
			// if the emails do not match
			$('#confirm_email').css('background-color','#fffcc9').prev('label').append('<span class="error" style="margin-left: 16px;">| Emails do not match</span>');
			error = true;
		}
		
		return (error) ? false : true;
	}
</script>

		<h3>Change Email for User Name ($!data.getSession().getAttribute("user").getUsername())</h3>
        <form name="edit-email" class="friendlyForm" method="post" action="$!link.setAction("HCPModifyEmail")" onsubmit="return newConfirmEmail();" _lpchecked="1">
			<p>
				<label>Current Email:</label> <input id="current_email" type="text" value="$!item.getProperty("email")" disabled="disabled" />
            </p>
			<p> 
				<label for="new_email">New Email:</label> <input id="new_email" type="text" name="xdat:user.email" value="" class="emailInput" />
            </p>
            <p>
            	<label for="confirm_email">Confirm Email: </label> 
            	<input id="confirm_email" type="text" name="confirm_email" value="" class="emailInput" />
            </p>
            <input type="hidden" name="destination" value="Index.vm">
            <input type="hidden" name="message" value="Email Changed.">
				#xdatHiddenBox("xdat:user.xdat_user_id" $item "")
				#xdatHiddenBox("xdat:user.login" $item "")
				#xdatEditProps($item $edit_screen)
            <div class="form-submit"><input type="submit" id="email_submit" name="eventSubmit_doSetup" value="Submit"></div>
        </form>