<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("7T Eye Tracker Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>7T Eye Tracker Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>trackfrac</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/trackfrac")</TD></TR>
							<TR><TD>TRfrac</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/TRfrac")</TD></TR>
							<TR><TD>RET_trackfrac_min</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/RET_trackfrac_min")</TD></TR>
							<TR><TD>RET_TRfrac_min</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/RET_TRfrac_min")</TD></TR>
							<TR><TD>MOV1_trackfrac</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/MOV1_trackfrac")</TD></TR>
							<TR><TD>MOV1_TRfrac</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/MOV1_TRfrac")</TD></TR>
							<TR><TD>MOV2_trackfrac</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/MOV2_trackfrac")</TD></TR>
							<TR><TD>MOV2_TRfrac</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/MOV2_TRfrac")</TD></TR>
							<TR><TD>MOV3_trackfrac</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/MOV3_trackfrac")</TD></TR>
							<TR><TD>MOV3_TRfrac</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/MOV3_TRfrac")</TD></TR>
							<TR><TD>MOV4_trackfrac</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/MOV4_trackfrac")</TD></TR>
							<TR><TD>MOV4_TRfrac</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/MOV4_TRfrac")</TD></TR>
							<TR><TD>REST_trackfrac_min</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/REST_trackfrac_min")</TD></TR>
							<TR><TD>REST_TRfrac_min</TD><TD>$!item.getDoubleProperty("hcp:EyeTracker7T/REST_TRfrac_min")</TD></TR>
							<TR><TD>RET_eyetrack_compl</TD><TD>$!item.getBooleanProperty("hcp:EyeTracker7T/RET_eyetrack_compl")</TD></TR>
							<TR><TD>MOV_eyetrack_compl</TD><TD>$!item.getBooleanProperty("hcp:EyeTracker7T/MOV_eyetrack_compl")</TD></TR>
							<TR><TD>REST_eyetrack_compl</TD><TD>$!item.getBooleanProperty("hcp:EyeTracker7T/REST_eyetrack_compl")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
