
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Session</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SESSION_ID"))
		</TD>
		
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>MR Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_DATE"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
	</TR>
	<TR>
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
	</TR>
	<TR>
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>BrainMaskNVox</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BRAINMASKNVOX"))
		</TD>
		
		<TD>BrainMaskVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BRAINMASKVOL"))
		</TD>
		
		<TD>BrainSegNVox</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BRAINSEGNVOX"))
		</TD>
		
	</TR>
	<TR>
		<TD>BrainSegVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BRAINSEGVOL"))
		</TD>
		
		<TD>ICV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ICV"))
		</TD>
		
	</TR>
</TABLE>
