<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ASEGRegionAnalysis Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ASEGRegionAnalysis Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>imageSession_ID</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/imageSession_ID")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("fs:asegRegionAnalysis/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("fs:asegRegionAnalysis/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("fs:asegRegionAnalysis/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("fs:asegRegionAnalysis/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/visit_id")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/label")</TD></TR>
							<TR><TD>BrainMaskNVox</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/BrainMaskNVox")</TD></TR>
							<TR><TD>BrainMaskVol</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/BrainMaskVol")</TD></TR>
							<TR><TD>BrainSegNVox</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/BrainSegNVox")</TD></TR>
							<TR><TD>BrainSegVol</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/BrainSegVol")</TD></TR>
							<TR><TD>ICV</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/ICV")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN fs:asegRegionAnalysis -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_1_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/in/file").size() - 1)
							#if($xnat_abstractResource_1_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_1_COUNTER in [0..$xnat_abstractResource_1_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER]/label")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_2_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_2_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_2_COUNTER in [0..$xnat_abstractResource_tag_2_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:asegRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_3_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/out/file").size() - 1)
							#if($xnat_abstractResource_3_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_3_COUNTER in [0..$xnat_abstractResource_3_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER]/label")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_4_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_4_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_4_COUNTER in [0..$xnat_abstractResource_tag_4_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:asegRegionAnalysis/out/file[$xnat_abstractResource_3_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_addField_5_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/parameters/addParam").size() - 1)
							#if($xnat_addField_5_NUM_ROWS>=0)
								#foreach($xnat_addField_5_COUNTER in [0..$xnat_addField_5_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/parameters/addParam[$xnat_addField_5_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/parameters/addParam[$xnat_addField_5_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>addField</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/parameters/addParam[$xnat_addField_5_COUNTER]/addField")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/parameters/addParam[$xnat_addField_5_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:asegRegionAnalysis/parameters/addParam[$xnat_addField_5_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:asegRegionAnalysis/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($prov_processStep_7_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/provenance/processStep").size() - 1)
										#if($prov_processStep_7_NUM_ROWS>=0)
											#foreach($prov_processStep_7_COUNTER in [0..$prov_processStep_7_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>program</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/program")</TD></TR>
																<TR><TD>program/version</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/program/version")</TD></TR>
																<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/program/arguments")</TD></TR>
																<TR><TD>timestamp</TD><TD>$!item.getProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/timestamp")</TD></TR>
																<TR><TD>cvs</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/cvs")</TD></TR>
																<TR><TD>user</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/user")</TD></TR>
																<TR><TD>machine</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/machine")</TD></TR>
																<TR><TD>platform</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/platform")</TD></TR>
																<TR><TD>platform/version</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/platform/version")</TD></TR>
																<TR><TD>compiler</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/compiler")</TD></TR>
																<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/compiler/version")</TD></TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($prov_processStep_library_8_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/library").size() - 1)
																#if($prov_processStep_library_8_NUM_ROWS>=0)
																	#foreach($prov_processStep_library_8_COUNTER in [0..$prov_processStep_library_8_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>library</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/library")</TD></TR>
																						<TR><TD>version</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/version")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END fs:asegRegionAnalysis/provenance/processStep[$prov_processStep_7_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:asegRegionAnalysis/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_9_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/sharing/share").size() - 1)
							#if($xnat_experimentData_share_9_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_9_COUNTER in [0..$xnat_experimentData_share_9_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/sharing/share[$xnat_experimentData_share_9_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/sharing/share[$xnat_experimentData_share_9_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/sharing/share[$xnat_experimentData_share_9_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/sharing/share[$xnat_experimentData_share_9_COUNTER]/project")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:asegRegionAnalysis/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:asegRegionAnalysis/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:asegRegionAnalysis/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:asegRegionAnalysis/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("fs:asegRegionAnalysis/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/validation/notes")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:asegRegionAnalysis/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_12_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/resources/resource").size() - 1)
							#if($xnat_abstractResource_12_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_12_COUNTER in [0..$xnat_abstractResource_12_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER]/label")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_13_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_13_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_13_COUNTER in [0..$xnat_abstractResource_tag_13_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:asegRegionAnalysis/resources/resource[$xnat_abstractResource_12_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_14_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/fields/field").size() - 1)
							#if($xnat_experimentData_field_14_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_14_COUNTER in [0..$xnat_experimentData_field_14_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/fields/field[$xnat_experimentData_field_14_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/fields/field[$xnat_experimentData_field_14_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/fields/field[$xnat_experimentData_field_14_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/fields/field[$xnat_experimentData_field_14_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:asegRegionAnalysis/fields/field[$xnat_experimentData_field_14_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($fs_asegRegionAnalysis_region_15_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/regions/region").size() - 1)
							#if($fs_asegRegionAnalysis_region_15_NUM_ROWS>=0)
								#foreach($fs_asegRegionAnalysis_region_15_COUNTER in [0..$fs_asegRegionAnalysis_region_15_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>NVoxels</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]/NVoxels")</TD></TR>
													<TR><TD>Volume</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]/Volume")</TD></TR>
													<TR><TD>normMean</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]/normMean")</TD></TR>
													<TR><TD>normStdDev</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]/normStdDev")</TD></TR>
													<TR><TD>normMin</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]/normMin")</TD></TR>
													<TR><TD>normMax</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]/normMax")</TD></TR>
													<TR><TD>normRange</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]/normRange")</TD></TR>
													<TR><TD>SegId</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]/SegId")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]/name")</TD></TR>
													<TR><TD>hemisphere</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER]/hemisphere")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_15_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END fs:asegRegionAnalysis -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
