<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Tim Olsen (Washington University) -->
<Instance_Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schemas/xdat/instance.xsd" site_url="<%= site_url %>" admin_email="<%= admin_email %>" archive_root_path="<%= archive_path %>" prearchive_path="<%= prearchive_path %>" cache_path="<%= cache_path %>" smtp_server="<%= smtp_server %>" thumbnail_path="<%= thumbnail_path %>" lores_path="<%= lores_path %>" pipeline_path="<%= pipeline_path %>" require_login="true" user_registration="true" enable_csrf_token="false">
	<Databases>
                <Database Type="POSTGRESQL" Id="<%= db_id %>" Driver="org.postgresql.Driver" Url="jdbc:postgresql://<%= db_host %>/<%= db_name %>" User="<%= db_user %>" Pass="<%= db_pass %>" MaxConnections="<%= db_conns %>"/>
	</Databases>
	<Models>
		<Data_Model File_Name="security.xsd" File_Location="schemas/security" DB="<%= db_id %>"/>
		<Data_Model File_Name="birnprov.xsd" File_Location="schemas/birn" DB="<%= db_id %>"/>
		<Data_Model File_Name="xnat.xsd" File_Location="schemas/xnat" DB="<%= db_id %>"/>
		<Data_Model File_Name="workflow.xsd" File_Location="schemas/pipeline" DB="<%= db_id %>"/>
		<Data_Model File_Name="repository.xsd" File_Location="schemas/pipeline" DB="<%= db_id %>"/>
		<Data_Model File_Name="project.xsd" File_Location="schemas/project" DB="<%= db_id %>"/>
		<Data_Model File_Name="assessments.xsd" File_Location="schemas/assessments" DB="<%= db_id %>"/>
		<Data_Model File_Name="catalog.xsd" File_Location="schemas/catalog" DB="<%= db_id %>"/>
		<Data_Model File_Name="protocolValidation.xsd" File_Location="schemas/validation" DB="<%= db_id %>"/>
		<Data_Model File_Name="screeningAssessment.xsd" File_Location="schemas/screening" DB="<%= db_id %>"/>
		<Data_Model File_Name="nontoolbox.xsd" File_Location="schemas/nontoolbox" DB="<%= db_id %>"/>
		<Data_Model File_Name="metadata.xsd" File_Location="schemas/HCPMetadata" DB="<%= db_id %>"/>
		<Data_Model File_Name="restrictedTier1.xsd" File_Location="schemas/restricted" DB="<%= db_id %>"/>
		<Data_Model File_Name="restrictedASR.xsd" File_Location="schemas/restricted" DB="<%= db_id %>"/>
		<Data_Model File_Name="restrictedDRG.xsd" File_Location="schemas/restricted" DB="<%= db_id %>"/>
		<Data_Model File_Name="restrictedMedFH.xsd" File_Location="schemas/restricted" DB="<%= db_id %>"/>
		<Data_Model File_Name="restrictedASQ.xsd" File_Location="schemas/restricted" DB="<%= db_id %>"/>
		<Data_Model File_Name="fs.xsd" File_Location="schemas/freesurfer" DB="<%= db_id %>"/>
		<Data_Model File_Name="toolbox.xsd" File_Location="schemas/toolbox" DB="<%= db_id %>"/>
		<Data_Model File_Name="alertness.xsd" File_Location="schemas/alertness" DB="<%= db_id %>"/>
		<Data_Model File_Name="ssaga.xsd" File_Location="schemas/ssaga" DB="<%= db_id %>"/>
		<Data_Model File_Name="psqiraw.xsd" File_Location="schemas/psqi" DB="<%= db_id %>"/>
		<Data_Model File_Name="taskPerformance.xsd" File_Location="schemas/taskperformance" DB="<%= db_id %>"/>
		<Data_Model File_Name="megResults.xsd" File_Location="schemas/meg" DB="<%= db_id %>"/>
		<Data_Model File_Name="EyeTracker7T.xsd" File_Location="schemas/EyeTracker7T" DB="<%= db_id %>"/>
		<Data_Model File_Name="consolidatedCatalog.xsd" File_Location="schemas/consolidatedCatalog" DB="<%= db_id %>"/>
		<!--<Data_Model File_Name="ext.xsd" File_Location="schemas/ext" DB="%DB_NAME%"/>-->
		<!-- Start modules schemas: Reserved for xnat_builder, don't modify anything between this line and the end modules line. -->
		<!-- End modules schemas: Reserved for xnat_builder, don't modify anything between this line and the start modules line. -->
	</Models>
</Instance_Settings>
